<div class="mat-dialog-content-container">
  <h1 mat-dialog-title>{{'lang.templateAssociateEntities' | translate}}</h1>
  <mat-dialog-content>
    <div class="alert-message alert-message-info" role="alert">
      <p>{{'lang.templateCheckEntities' | translate}}<b>{{'lang.AR' + data.template_attachment_type | translate}}</b></p>
    </div>
    <mat-list>
      @for (entity of data.entitiesList; track entity) {
        <mat-list-item>
          <mat-icon mat-list-icon><i class="fa fa-share-alt" style="color: #3A7C00"></i></mat-icon>
          <span mat-line> {{entity.entity_label}} </span>
        </mat-list-item>
      }
    </mat-list>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button class="primary" type="submit" (click)="dialogRef.close()">{{'lang.close' | translate}}</button>
  </mat-dialog-actions>
</div>
