<div class="mat-dialog-content-container">
  <div mat-dialog-content class="summarySheet">
    @if (loading) {
      <div class="loader">
        <mat-spinner></mat-spinner>
      </div>
    }
    <div class="row header">
      <div class="col-md-4 text-left">
        {{'lang.appName' | translate}} / {{'lang.printDate' | translate}}
      </div>
      <div class="col-md-4 text-center">
        <b>{{'lang.summarySheet' | translate}}</b><br />{{'lang.chronoNumber' | translate}}
      </div>
      <!-- EDISSYUM - AMO01 Rajout d'un Toggle général pour les champs de la fiche de liaison -->
      <div class="col-md-2">
        <mat-slide-toggle
          class="unitToggle primary"
          [class.mid-state]="allToggled === null"
          [checked]="allToggled === true"
          (change)="toggleAll()">
        </mat-slide-toggle>
      </div>
      <!-- END EDISSYUM - AMO01 -->
      <div class="col-md-2 text-right" [class.disabled]="!withQrcode"> <!-- EDISSYUM - AMO01 Rajout d'un Toggle général pour les champs de la fiche de liaison | Modifier la classe col-md-4 en col-md-2 -->
        <mat-button-toggle-group style="position: absolute;top:-2px;right:0px;" multiple
          (change)="toggleQrcode()">
          <mat-button-toggle style="width: 40px;height: 40px;" class="qrcode" [checked]="withQrcode"
            title="{{'lang.toggleQrcode' | translate}}">
            <mat-icon fontSet="fas" fontIcon="fa-qrcode" style="height: auto;font-size: 30px;"></mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 title">
        {{'lang.object' | translate}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div cdkDropList #dataAvailableList="cdkDropList" [cdkDropListData]="dataAvailable" class="cdk-list"
          (cdkDropListDropped)="drop($event)">
          @for (item of dataAvailable; track item; let i = $index) {
            @if (item.unit !== 'qrcode') {
              <div class="columns" [class.disabled]="!item.enabled" cdkDrag
                id="{{item.id}}" style="position: relative;">
                <div class="unitTitle">
                  <div class="handleDrag" cdkDragHandle>
                    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                      <path
                        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                      </path>
                      <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                  </div>
                  <mat-form-field floatLabel="never" style="margin-top: -10px;">
                    <input matInput placeholder="{{'lang.label' | translate}}" [(ngModel)]="item.label"
                      (click)="$event.stopPropagation();">
                  </mat-form-field>
                  @if (item.unit == 'freeField') {
                    <button mat-icon-button class="warn"
                      title="{{'lang.deleteUnit' | translate}}"
                      (click)="removeCustomUnit(i)">
                      <mat-icon fontSet="fas" fontIcon="fa-minus" style=""></mat-icon>
                    </button>
                  }
                </div>
                <div class="rowData">
                  <div class="column-1">
                    @if (!functions.empty(item.desc)) {
                      <div class="row unitData" (click)="item.enabled = !item.enabled; updateAllToggledStatus()">
                        <!-- EDISSYUM - AMO01 Rajout d'un Toggle général pour les champs de la fiche de liaison | Ajouter updateAllToggledStatus() -->
                        @for (itemData of item.desc; track itemData) {
                          <div class="{{item.css}}">
                            {{itemData}}
                          </div>
                        }
                      </div>
                      }<br>
                      @if (item.advanced_desc) {
                        <div class="row unitData" (click)="item.enabled = !item.enabled; updateAllToggledStatus()"> <!-- EDISSYUM - AMO01 Rajout d'un Toggle général pour les champs de la fiche de liaison | Ajouter updateAllToggledStatus() -->
                          <div  style="padding-top: 10px;" name="traffic_record_summary_sheet" id="traffic_record_summary_sheet"
                          [innerHTML]="item.advanced_desc"></div>
                        </div>
                      }
                    </div>
                    <div class="column-2">
                      <mat-slide-toggle [(ngModel)]="item.enabled" class="primary unitToggle" (change)="updateAllToggledStatus()"> <!-- EDISSYUM - AMO01 Rajout d'un Toggle général pour les champs de la fiche de liaison | Ajouter updateAllToggledStatus() -->
                      </mat-slide-toggle>
                    </div>
                  </div>
                </div>
              }
            }
          </div>
        </div>
      </div>
      @if (!functions.empty(data.selectedRes) && data.selectedRes.length > 500 && !paramMode) {
        <div
          mat-dialog-actions class="actions">
          <span style="color: #d24747; font-style: italic">{{'lang.firstSummarySheetsGenerated' | translate}}</span>
        </div>
      }
      <div class="alert-message alert-message-info" style="padding: 10px">
        <span>{{'lang.arGenWithModelMessage' | translate}}</span>
      </div>
    </div>

    <span class="divider-modal"></span>
    <div mat-dialog-actions class="actions">
      @if (paramMode) {
        <button mat-raised-button mat-button class="primary"
        (click)="closeModalWithParams();">{{'lang.validate' | translate}}</button>
      }
      @if (!paramMode) {
        <button mat-raised-button mat-button class="primary"
        (click)="genSummarySheets();">{{'lang.genSummarySheets' | translate}}</button>
      }
      <button mat-raised-button mat-button [mat-dialog-close]="">{{'lang.cancel' | translate}}</button>
      <button mat-mini-fab (click)="addCustomUnit()" style="position: absolute;right: 30px; color: #3A7C00"
        title="{{'lang.addCustomUnit' | translate}}">
        <mat-icon fontSet="fas" fontIcon="fa-plus" style="height: auto;"></mat-icon>
      </button>
    </div>
  </div>
