@if (loading) {
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  <mat-card class="contact-card">
    @if (selectable) {
      <div class="selectable" [class.selected]="contact.selected">
        @if (!contact.selected) {
          <button style="line-height: 15px;padding: 5px;" mat-raised-button class="primary" (click)="toggleContact(contact)"><span>{{'lang.selectDuplicatedContact' | translate}}</span><br><small style="font-size:80%">{{contact.resourcesCount}} {{'lang.associatedElements' | translate}}</small></button>
        }
        @if (contact.selected) {
          <button style="line-height: 15px;padding: 10px;" mat-raised-button class="primary" (click)="toggleContact(contact)"><i class="far fa-check-circle"></i> {{'lang.selectedContact' | translate}}</button>
        }
      </div>
    }
    @if (!contact.enabled) {
      <div class="disabledContact">{{'lang.contactDisabled' | translate}}</div>
    }
    <mat-card-header>
      <div mat-card-avatar class="contact-header-image fa"
        [class.fa-address-card]="contact.type === 'contact'"
        [class.fa-users]="contact.type ==='contactGroup'"
        [class.fa-sitemap]="contact.type ==='entity'"
        [class.fa-user]="contact.type ==='user'" [title]="'lang.contact_' + contact.type | translate">
      </div>
      @if (!functionsService.empty(contact.firstname) || !functionsService.empty(contact.lastname)) {
        <mat-card-title
          [title]="(contact.civility.label ? contact.civility.label + ' ' : '') + contact.firstname + ' ' + contact.lastname">
          @if (!functionsService.empty(contact.civility)) {
            <sup style="color: #666;"
            [class.newData]="isNewValue('civility')">{{contact.civility.abbreviation}}&nbsp;</sup>
            }{{contact.firstname}}
            {{contact.lastname}}
          </mat-card-title>
        }
        @if (functionsService.empty(contact.firstname) && functionsService.empty(contact.lastname)) {
          <mat-card-title [class.newData]="isNewValue('company')" [title]="contact.company">
          {{contact.company}}</mat-card-title>
        }
        @if (!functionsService.empty(contact.function)) {
          <mat-card-subtitle [class.newData]="isNewValue('function')" [title]="contact.function">
            {{contact.function}}&nbsp;
          </mat-card-subtitle>
        }
        @if (contact.type === 'contact' && !functionsService.empty(contact.fillingRate.color)) {
          <i class="contact-filling fa fa-circle"
          [style.color]="contact.fillingRate.color" [title]="'lang.contactsFillingRate' | translate"></i>
        }
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <h3 mat-subheader>{{'lang.contactDetails' | translate}}</h3>
          @if ((!functionsService.empty(contact.firstname) || !functionsService.empty(contact.lastname)) && !functionsService.empty(contact.company)) {
            <mat-list-item class="contact-item"
              >
              <mat-icon mat-list-icon class="contact-group far fa-building"
              [title]="'lang.contactsParameters_company' | translate"></mat-icon>
              <p mat-line class="contact-content" [class.newData]="isNewValue('company')"> {{contact.company}}
              </p>
            </mat-list-item>
          }
          @if (!functionsService.empty(contact.department)) {
            <mat-list-item class="contact-item">
              <mat-icon mat-list-icon class="contact-group fa fa-sitemap"
              [title]="'lang.contactsParameters_department' | translate"></mat-icon>
              <p mat-line class="contact-content" [class.newData]="isNewValue('department')">
              {{contact.department}} </p>
            </mat-list-item>
          }
          @if (!functionsService.empty(contact.email)) {
            <mat-list-item class="contact-item">
              <mat-icon mat-list-icon class="contact-group far fa-envelope" [title]="'lang.email' | translate"></mat-icon>
              <a matLine href="mailto:{{contact.email}}" class="contact-content"
              [class.newData]="isNewValue('email')"> {{contact.email}} </a>
            </mat-list-item>
          }
          @if (!functionsService.empty(contact.phone)) {
            <mat-list-item class="contact-item">
              <mat-icon mat-list-icon class="contact-group fas fa-phone" [title]="'lang.phoneNumber' | translate">
              </mat-icon>
              <p mat-line class="contact-content" [class.newData]="isNewValue('phone')"> {{contact.phone}}
              </p>
            </mat-list-item>
          }
          @if (!functionsService.empty(contact.addressNumber) || !functionsService.empty(contact.addressStreet) || !functionsService.empty(contact.addressAdditional2) || !functionsService.empty(contact.addressPostcode) || !functionsService.empty(contact.addressTown) || !functionsService.empty(contact.addressCountry)) {
            <mat-list-item class="contact-address" (click)="goTo(contact)" [title]="'lang.address' | translate"
              >
              <mat-icon mat-list-icon class="contact-group fas fa-map-marker-alt"></mat-icon>
              @if (!functionsService.empty(contact.addressAdditional1)) {
                <p mat-line class="contact-content"
                [class.newData]="isNewValue('addressAdditional1')"> {{contact.addressAdditional1}}</p>
              }
              @if (!functionsService.empty(contact.addressNumber) || !functionsService.empty(contact.addressStreet)) {
                <p mat-line class="contact-content"
                  ><span
                [class.newData]="isNewValue('addressNumber')">{{contact.addressNumber}}</span>&nbsp;<span
              [class.newData]="isNewValue('addressStreet')">{{contact.addressStreet}}</span></p>
            }
            @if (!functionsService.empty(contact.addressAdditional2)) {
              <p mat-line class="contact-content"
              [class.newData]="isNewValue('addressAdditional2')">{{contact.addressAdditional2}} </p>
            }
            @if (!functionsService.empty(contact.addressPostcode) || !functionsService.empty(contact.addressTown)) {
              <p mat-line class="contact-content"
                >
              {{contact.addressPostcode}} {{contact.addressTown}} </p>
            }
            @if (!functionsService.empty(contact.addressCountry)) {
              <p mat-line class="contact-content"
              [class.newData]="isNewValue('addressCountry')"> {{contact.addressCountry}} </p>
            }
          </mat-list-item>
        }
        @if (!functionsService.empty(contact.sector)) {
          <mat-list-item class="contact-item">
            <mat-icon mat-list-icon class="contact-group fas fa-map-marked-alt" [title]="'lang.contactsParameters_sector' | translate">
            </mat-icon>
            <p mat-line class="contact-content"> {{contact.sector}}</p>
          </mat-list-item>
        }
      </mat-list>
      @if (!emptyOtherInfo(contact)) {
        <mat-expansion-panel [expanded]="selectable">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'lang.othersInfos' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            @if (!functionsService.empty(contact.notes)) {
              <mat-list-item class="contact-item"
                [title]="'lang.note' | translate">
                <mat-icon mat-list-icon class="contact-group far fa-sticky-note"></mat-icon>
                <p mat-line class="contact-content" [class.newData]="isNewValue('notes')" [title]="contact.notes">
                {{contact.notes}} </p>
              </mat-list-item>
            }
            @if (!functionsService.empty(contact.communicationMeans)) {
              @if (!functionsService.empty(contact.communicationMeans.url)) {
                <mat-list-item class="contact-item"
                  [title]="'lang.communicationMean' | translate">
                  <mat-icon mat-list-icon class="contact-group fas fa-hashtag"></mat-icon>
                  <p mat-line class="contact-content" [class.newData]="isNewValue('communicationMeans.url')" [title]="contact.communicationMeans.url | splitLoginPwd">
                    {{contact.communicationMeans.url | splitLoginPwd}}
                  </p>
                </mat-list-item>
              }
              @if (!functionsService.empty(contact.communicationMeans.email)) {
                <mat-list-item class="contact-item"
                  [title]="'lang.emailM2M' | translate">
                  <mat-icon mat-list-icon class="contact-group fas fa-hashtag"></mat-icon>
                  <p mat-line class="contact-content" [class.newData]="isNewValue('communicationMeans.email')" [title]="contact.communicationMeans.email">
                    {{contact.communicationMeans.email}}
                  </p>
                </mat-list-item>
              }
              @if (!functionsService.empty(contact.communicationMeans.login)) {
                <mat-list-item class="contact-item"
                  [title]="'lang.userIdm2mDesc' | translate">
                  <mat-icon mat-list-icon class="contact-group fas fa-hashtag"></mat-icon>
                  <p mat-line class="contact-content" [class.newData]="isNewValue('communicationMeans.login')" [title]="contact.communicationMeans.login">
                    {{contact.communicationMeans.login}}
                  </p>
                </mat-list-item>
              }
              @if (!functionsService.empty(contact.externalId) && !functionsService.empty(contact.externalId['m2m'])) {
                <mat-list-item class="contact-item"
                  [title]="'lang.IdMaarch2Maarch' | translate">
                  <mat-icon mat-list-icon class="contact-group fas fa-hashtag"></mat-icon>
                  <p mat-line class="contact-content" [title]="contact.externalId['m2m']">
                  {{contact.externalId['m2m']}} </p>
                </mat-list-item>
              }
            }
            @for (keyVal of contact.customFields | keyvalue; track keyVal) {
              @if (keyVal.value.value !== null) {
                <mat-list-item class="contact-item">
                  <mat-icon mat-list-icon class="contact-group fas fa-hashtag"
                    [title]="keyVal.value.label">
                  </mat-icon>
                  <p mat-line class="contact-content" [class.newData]="isNewValue(keyVal)" [title]="keyVal.value.value"> {{keyVal.value.value}}
                  </p>
                </mat-list-item>
              }
            }
          </mat-list>
        </mat-expansion-panel>
      }
    </mat-card-content>
  </mat-card>
}
