@if (loading) {
  <div class="loading">
    <mat-spinner diameter="35"></mat-spinner>
  </div>
} @else {
  @for (attachment of attachments; track attachment) {
    <div class="attachmentsList" (click)="showAttachment(attachment)">
      @if (attachment.modificationDate !== null) {
        <div class="date" [title]="attachment.modificationDate | fullDate">
          {{attachment.modificationDate | timeAgo}}
        </div>
      } @else {
        <div class="date" [title]="attachment.creationDate | fullDate">
          {{attachment.creationDate | timeAgo}}
        </div>
      }
      <div class="info">
        {{attachment.title | shorten: 110: '...'}}
      </div>
      <div class="attachmentType">
        {{attachment.typeLabel}}
      </div>
    </div>
  }
  @if (attachments.length === 3) {
    <button mat-button class="showMore" (click)="showMore()">{{'lang.showMore' | translate}}</button>
  }
  @if (attachments.length === 0) {
    <div class="noData">
      {{'lang.noAttachment' | translate}}
    </div>
  }
}
