RewriteEngine On

RewriteRule "dist/(.*)" "dist/$1" [QSA,L]
RewriteRule "dist-addin/(.*)" "dist-addin/$1" [QSA,L]
RewriteRule "rest/(.*)" "rest/$1" [QSA,L]
RewriteRule "plugins/(.*)" "plugins/$1" [QSA,L]

# Tout le reste vers index.php pour le routage
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ "/index.php" [QSA,L]
