<div class="mat-dialog-content-container">
  <h1 mat-dialog-title>{{data.action.label}}</h1>
  <div mat-dialog-content>
    @if (loading) {
      <div class="loading" style="display:flex;height:100%;">
        <mat-spinner style="margin:auto;"></mat-spinner>
      </div>
    }
    <mat-sidenav-container autosize style="height:100%;">
      <mat-sidenav-content style="background: white;padding:10px;">
        <div>
          {{'lang.makeActionOn' | translate}}
          @if (data.resIds.length === 0) {
            <b class="primary highlight">{{'lang.currentIndexingMail' | translate}}</b>
          }
          @if (data.resIds.length === 1) {
            <b class="primary highlight">{{data.resource.chrono}}</b>
          }
          @if (data.resIds.length > 1) {
            <b class="primary highlight">{{data.resIds.length}}
            {{'lang.elements' | translate}}</b>
            } ?
          </div>
          @if (data.resIds.length === 1  && !noResourceToProcess) {
            <div class="alert-message alert-message-info"
              role="alert" style="margin-top: 30px;"
              [innerHTML]="('lang.validateAvisParallelSingle' | translate) + ' <b>' + ownerOpinion + '</b>'">
            </div>
          }

          @if (data.resIds.length > 1 && !noResourceToProcess) {
            <div class="alert-message alert-message-info"
            role="alert" style="margin-top: 30px;" [innerHTML]="'lang.validateAvisParallel' | translate"></div>
          }

          @if (resourcesErrors.length > 0) {
            <div class="alert-message alert-message-danger mailList"
              role="alert">
              <p>
                {{'lang.canNotMakeAction' | translate}} :
              </p>
              <ul>
                @for (ressource of resourcesErrors; track ressource) {
                  <li>
                    <b>{{ressource.alt_identifier}}</b> : {{'lang.' + ressource.reason | translate}}
                  </li>
                }
              </ul>
            </div>
          }
          @if (data.resIds.length === 1 && !noResourceToProcess) {
            <mat-form-field (click)="picker.open()"
              appearance="outline" style="cursor:pointer;margin-top: 10px;">
              <mat-label>{{'lang.opinionLimitDate' | translate}}</mat-label>
              <input matInput [(ngModel)]="opinionLimitDate" [matDatepicker]="picker"
                [placeholder]="'lang.chooseDate' | translate" [min]="today" readonly style="cursor:pointer;" required>
              @if (!opinionLimitDate) {
                <mat-datepicker-toggle matSuffix [for]="picker">
                </mat-datepicker-toggle>
              }
              <mat-datepicker #picker></mat-datepicker>
              @if (opinionLimitDate) {
                <button mat-button class="warn" matSuffix mat-icon-button
                  (click)="$event.stopPropagation();opinionLimitDate = null;" [title]="'lang.eraseValue' | translate">
                  <mat-icon style="color:#8e3e52" class="fa fa-calendar-times">
                  </mat-icon>
                </button>
              }
            </mat-form-field>
          }
          @if (data.resIds.length === 1 && !noResourceToProcess) {
            <app-note-editor #noteEditor
              [title]="'lang.addOpinionReason' | translate" [content]="opinionContent" [resIds]="data.resIds"
            [disableRestriction]="true"></app-note-editor>
          }
          @if (data.resIds.length === 1  && !noResourceToProcess) {
            <app-avis-workflow [adminMode]="true"
              [mode]="'parallel'" #appAvisWorkflow>
            </app-avis-workflow>
          }
          @if (showToggle) {
            <div class="row" style="margin: 10px 0px 10px 0px;">
              <mat-slide-toggle name="history" class="primary" style="margin-bottom: 15px;"
                [title]="'lang.canGoToNextResDesc' | translate" [(ngModel)]="canGoToNextRes" [checked]="canGoToNextRes">
                {{'lang.canGoToNextRes' | translate}}
              </mat-slide-toggle>
              <mat-divider></mat-divider>
            </div>
          }
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
    <span class="divider-modal"></span>
    <div mat-dialog-actions class="actions">
      <button mat-raised-button mat-button class="primary" [disabled]="loading || !isValidAction()"
      (click)="onSubmit()">{{'lang.validate' | translate}}</button>
      <button mat-raised-button mat-button [disabled]="loading" [mat-dialog-close]="">{{'lang.cancel' | translate}}</button>
    </div>
  </div>