<div class="mat-dialog-content-container">
  <h1 mat-dialog-title>{{'lang.contactsReassign' | translate}}</h1>
  <mat-dialog-content>
    <form #redirectConfForm="ngForm">
      <div class="modal-body">
        <div class="alert-message alert-message-danger" role="alert">
          {{'lang.contactLinkedToMails' | translate}}
        </div>
        <div class="input-group">
          <mat-radio-group id="processMode" name="processMode"
            style="display: inline-flex;flex-direction: column;" [(ngModel)]="this.processMode"
            class="primary" required>
            <mat-radio-button value="delete" class="primary">
              {{'lang.deleteContactWithoutReassign' | translate}}
            </mat-radio-button>
            <mat-radio-button value="reaffect" class="primary">
              {{'lang.reaffectContactRedirect' | translate}}
            </mat-radio-button>
          </mat-radio-group>
          @if (this.processMode === 'reaffect') {
            <app-plugin-autocomplete
              [labelPlaceholder]="'lang.contactReplacement' | translate"
              [routeDatas]="['/rest/autocomplete/contacts']" [targetSearchKey]="'contact'"
            (triggerEvent)="setRedirectUser($event)" singleMode required></app-plugin-autocomplete>
          }

          @if (this.processMode) {
            <div class="alert-message alert-message-info" role="alert">
              @if (this.processMode === 'delete') {
                <span><em>{{'lang.deleteContactInformations' | translate}}</em></span>
              }
              @if (this.processMode === 'reaffect') {
                <span
                  ><em>{{'lang.reaffectContactInformations' | translate}}</em></span>
                }
              </div>
            }
          </div>
        </div>
      </form>
    </mat-dialog-content>
    <span class="divider-modal"></span>
    <mat-dialog-actions>
      <button mat-raised-button class="primary" type="submit"
        [disabled]="!redirectConfForm.form.valid || (!this.redirectContact && this.processMode === 'reaffect')"
      (click)="dialogRef.close({contactId:this.redirectContact, processMode:this.processMode})">{{'lang.delete' | translate}}</button>
      <button class="actions"  mat-raised-button
      (click)="dialogRef.close('')">{{'lang.cancel' | translate}}</button>
    </mat-dialog-actions>
  </div>
