<div class="mat-dialog-content-container">
  <h1 mat-dialog-title>{{'lang.importContacts' | translate}}</h1>
  <div mat-dialog-content>
    <mat-toolbar class="import-tool" [class.hide]="csvData.length === 0 || loading">
      <span style="flex:1;">
        <mat-slide-toggle class="primary" [checked]="hasHeader" (change)="toggleHeader()">
          {{'lang.csvHeader' | translate}}
        </mat-slide-toggle>
      </span>
      <span style="flex:1;text-align: center;"><i class="fa fa-users" style="color: #3A7C00"></i>&nbsp;{{'lang.contactsOfFile' | translate}} : <b
    class="primary">{{countAll}}</b>
  </span>
  <span style="flex:1;text-align: center;"><i class="fa fa-user-plus" style="color: #3A7C00"
  ></i>&nbsp;{{'lang.additions' | translate}} : <b
class="primary">{{countAdd}}</b></span>
<span style="flex:1;text-align: right;"><i class="fa fa-user-edit" style="color: #3A7C00"
></i>&nbsp;{{'lang.modifications' | translate}} : <b
class="primary">{{countUp}}</b></span>
</mat-toolbar>
@if (loading) {
  <div class="loader">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  <input type="file" name="files[]" #uploadFile id="uploadFile" (change)="uploadCsv($event)" accept=".csv"
    style="display: none;">
  @if (csvData.length === 0) {
    <div appUploadFileDragDrop (click)="uploadFile.click()"
      (fileDropped)="dndUploadFile($event)" class="dndFile">
      <div>
        {{'lang.dndFileCsvDesc' | translate}}
      </div>
    </div>
  }
  <div class="row" style="margin: 0px;">
    @if (csvData.length !== 0) {
      <div class="col-md-12">
        <mat-paginator #paginator [length]="100" [hidePageSize]="true" [pageSize]="8">
        </mat-paginator>
      </div>
    }
  </div>
  @if (csvData.length !== 0) {
    <div style="width:100%;box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);padding:10px;">
      <div style="overflow: auto;">
        @if (csvData.length > 0) {
          <mat-table #table [dataSource]="dataSource" [style.width.px]="contactColumns.length * 300">
            @for (column of contactColumns; track column; let i = $index) {
              <ng-container [matColumnDef]="column.id">
                <mat-header-cell *matHeaderCellDef style="padding-left: 5px;padding-right: 5px;">
                  <i class="fas fa-database"
                    style="color: #3A7C00"
                  [title]="'lang.dbColumn' | translate"></i>&nbsp;<b class="primary"
                [title]="'lang.dbColumn' | translate">{{column.label}}</b>
                &nbsp;<i class="fas fa-arrows-alt-h"></i>&nbsp;
                <i class="fas fa-file-csv" [title]="'lang.csvColumn' | translate"></i>&nbsp;
                <mat-form-field [title]="'lang.csvColumn' | translate"
                  (click)="$event.stopPropagation()" style="width: 80px !important;">
                  <mat-select [(ngModel)]="associatedColmuns[column.id]"
                    (selectionChange)="changeColumn(column, $event.value)">
                    <mat-option value=""></mat-option>
                    @for (col of csvColumns; track col) {
                      <mat-option [value]="col">
                        {{col}}
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <mat-checkbox class="primary" (change)="toggleEmptyMode(column.id,$event.checked)"
                [title]="'lang.toggleEmptyValues' | translate"></mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let element" style="padding-left: 5px;padding-right: 5px;">
                @if (column.emptyValueMode && functionsService.empty(element[column.id])) {
                  <i style="opacity: 0.5;">{{'lang.emptyValue' | translate}}</i>
                } @else {
                  {{element[column.id]}}
                }
              </mat-cell>
            </ng-container>
          }
          <mat-header-row *matHeaderRowDef="getcontactColumnsIds()"></mat-header-row>
          <mat-row *matRowDef="let row; columns: getcontactColumnsIds();"></mat-row>
        </mat-table>
      }
    </div>
  </div>
}
<div class="alert-message alert-message-info" [innerHTML]="'lang.infoImportNoIdToCreate' | translate"
  style="min-width: 100%">
</div>
<div class="alert-message alert-message-info" [innerHTML]="'lang.infoImportcontacts2' | translate"
  style="min-width: 100%">
</div>
}
</div>
<span class="divider-modal"></span>
<div mat-dialog-actions class="actions">
  @if (csvData.length > 0) {
    <button mat-raised-button mat-button class="primary" [disabled]="loading"
    (click)="onSubmit()">{{'lang.validate' | translate}}</button>
  }
  <button mat-raised-button mat-button [disabled]="loading"
  [mat-dialog-close]="">{{'lang.cancel' | translate }}</button>
</div>
</div>
