.fusion_contact {
    display: flex;
    flex-direction: column;
    & div {
        height: 1px;
        min-height: 32px;
        display: inherit;
        margin: 10px 0 10px 0;
        & span {
            width: 35px;
            display: block;
            text-align: center;
            & i {
                color: var(--maarch-color-primary);
            }
        }
        & mat-chip {
            max-width: 95%;
            & p {
                margin: 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 100%;
            }
        }
    }
}
