<div class="process-tool">
  @for (module of processTool; track module) {
    <div class="process-tool-module jiggle"
      [class.tool-disabled]="module.disabled"
      [class.process-tool-module-active]="module.id === currentTool"
      (click)="!module.disabled ? changeTab(module.id) : false" matRipple [matRippleDisabled]="module.disabled">
      @if (module.count > 0) {
        <i class="fas fa-circle has-content"></i>
      }
      <i [class]="module.icon"></i>
      <span>{{ module.label }}</span>
    </div>
  }
</div>
<div class="toolbar-container" [class.toolbar-container-no-padding]="currentTool === 'history'">
  @if (currentTool === 'dashboard') {
    <app-dashboard-resume
      [resId]="resId"
      [currentTool]="currentTool"
      (goToEvent)="currentTool=$event"
      >
    </app-dashboard-resume>
  }
  @if (currentTool === 'history') {
    <app-history-list
      [resId]="resId"
      >
    </app-history-list>
  }
  @if (currentTool === 'notes') {
    <app-notes-list
      #appNotesList
      [editMode]="true"
      [resId]="resId"
      (reloadBadgeNotes)="refreshBadge($event,'notes')"
      >
    </app-notes-list>
  }
  @if (currentTool === 'visaCircuit') {
    <app-visa-workflow
      #appVisaWorkflow
      [adminMode]="privilegeService.hasCurrentUserPrivilege('config_visa_workflow')"
      [target]="'signatureBook'"
      [resId]="resId">
    </app-visa-workflow>
  }
  @if (currentTool === 'info') {
    <app-indexing-form
      [resId]="resId"
      [groupId]="groupId"
      [indexingFormId]="modelId"
      [mode]="'process'"
      [canEdit]="false"
      [hideDiffusionList]="true">
    </app-indexing-form>
  }
  @if (currentTool === 'linkedResources') {
    <app-linked-resource-list
      [resId]="resId"
      (reloadBadgeLinkedResources)="refreshBadge($event,'linkedResources')"
      >
    </app-linked-resource-list>
  }
  @if (currentTool === 'diffusionList') {
    <app-diffusions-list
      #appDiffusionsList
      [adminMode]="false"
      [target]="'details'"
      [resId]="resId"
      [expanded]="true">
    </app-diffusions-list>
  }
  @if (currentTool === 'emails') {
    <app-sent-resource-list
      [resId]="resId"
      [currentUserId]="userId"
      [currentGroupId]="groupId"
      [currentBasketId]="basketId"
      (reloadBadgeSentResource)="refreshBadge($event,'emails')"
      >
    </app-sent-resource-list>
  }
  @if (currentTool === 'opinionCircuit') {
    <app-avis-workflow
      #appAvisWorkflow
      [resId]="resId"
      [adminMode]="false">
    </app-avis-workflow>
  }
  @if (currentTool === 'attachments') {
    <app-attachments-list
      [resId]="resId"
      [target]="'process'"
      [canAdd]="false"
      [canDelete]="false"
      [canModify]="false"
      [hideIntegrationActions]="true"
      (reloadBadgeAttachments)="refreshBadge($event,'attachments')"
      >
    </app-attachments-list>
  }
  <div style="position: sticky;bottom: 0;text-align:right;">
    @if (isToolModified()) {
      <button class="accent" mat-fab [title]="'lang.saveModifications' | translate" (click)="saveTool()">
        <mat-icon style="height:auto;font-size:20px;" class="fas fa-check"></mat-icon>
      </button>
    }
  </div>
</div>

