<mat-sidenav-container autosize class="maarch-container">
  <ng-template #adminMenuTemplate>
    <mat-nav-list>
      @for (menu of subMenus; track menu) {
        <a mat-list-item [class.active]="menu.current" [routerLink]="menu.route">
          <mat-icon style="color: #3A7C00" mat-list-icon [class]="menu.icon"></mat-icon>
          <p mat-line>
            {{menu.label}}
          </p>
        </a>
      }
    </mat-nav-list>
  </ng-template>
  <mat-sidenav-content>
    <div class="bg-head">
      <div class="bg-head-title" [class.customContainerRight]="appService.getViewMode()">
        <div class="bg-head-title-label">
          <app-header-left></app-header-left>
        </div>
        <div class="bg-head-title-tool">
          <app-header-right></app-header-right>
        </div>
      </div>
      <div class="bg-head-content" [class.fullContainer]="appService.getViewMode()">
      </div>
    </div>
    <div class="container" [class.fullContainer]="appService.getViewMode()">
      <div class="container-content">
        @if (loading) {
          <div style="display:flex;height:100%;">
            <mat-spinner style="margin:auto;"></mat-spinner>
          </div>
        }
        @if (!loading) {
          <mat-card class="card-app-content">
            <form style="display: contents;" (ngSubmit)="onSubmit()" #ssoForm="ngForm">
              <mat-form-field appearance="outline">
                <mat-label>{{'lang.ssoUrl' | translate}}</mat-label>
                <input matInput name="ssoUrl" [(ngModel)]="sso.url">
                <mat-hint>{{'lang.ssoUrlDesc' | translate}}</mat-hint>
              </mat-form-field>
              <mat-expansion-panel expanded style="margin-top: 10px;">
                <mat-expansion-panel-header>
                  <mat-panel-title class="primary">
                    {{'lang.mappingHeaders' | translate}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                @for (item of sso.mapping; track item; let i = $index) {
                  <mat-form-field>
                    <input matInput name="input_{{i}}" [(ngModel)]="item.ssoId"
                      [placeholder]="item.maarchId" required>
                    <mat-hint>{{item.desc | translate}}</mat-hint>
                  </mat-form-field>
                }
              </mat-expansion-panel>
              <div class="text-center" style="padding:10px;">
                <button mat-raised-button [disabled]="!isValid(ssoForm)"
                class="primary">{{'lang.validate' | translate}}</button>
                <button mat-raised-button type="button" (click)="cancel()" [disabled]="!isValid(ssoForm)"
                style="background-color:#8e3e52 !important; color: #ffffff;">{{'lang.cancel' | translate}}</button> <!-- EDISSYUM - NCH01 Changement des couleurs de MEM Courrier | Rajouter balise style -->
              </div>
            </form>
          </mat-card>
        }
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>