<div class="mat-dialog-content-container">
  <h1 mat-dialog-title>{{'lang.redirects' | translate}}</h1>
  <mat-dialog-content>
    <form #redirectConfForm="ngForm">

      @if (data.hasConfidentialityInstances) {
        <div class="alert-message alert-message-info" role="alert"
          [innerHTML]="'lang.redirectConfidentialInfo' | translate">
        </div>
      }
      @if (data.hasListTemplates) {
        <div class="alert-message alert-message-info" role="alert"
          [innerHTML]="'lang.redirectModelInfo' | translate">
        </div>
      }
      <div class="input-group">
        <mat-radio-group id="processMode" name="processMode"
          style="display: inline-flex;flex-direction: column;" [(ngModel)]="this.processMode" class="primary">
          <mat-radio-button value="" checked="true" class="primary">
            {{'lang.doNothingRedirect' | translate}}
          </mat-radio-button>
          <mat-radio-button value="delete" class="primary">
            {{'lang.removeUserRedirect' | translate}}
          </mat-radio-button>
          <mat-radio-button value="reaffect" class="primary">
            {{'lang.reaffectUserRedirect' | translate}}
          </mat-radio-button>
        </mat-radio-group>
        @if (this.processMode === 'reaffect') {
          <app-plugin-autocomplete [labelPlaceholder]="'lang.userReplacement' | translate"
            [routeDatas]="['/rest/autocomplete/users']"
            [targetSearchKey]="'idToDisplay'" [subInfoKey]="'descriptionToDisplay'"
          (triggerEvent)="setRedirectUser($event)" singleMode required></app-plugin-autocomplete>
        }

        <div class="alert-message alert-message-info" role="alert" style="max-width: inherit;">
          @if (this.processMode === '') {
            <span><em>{{'lang.doNothingRedirectInformations' | translate}}</em></span>
          }
          @if (this.processMode === 'delete') {
            <span [innerHTML]="'lang.removeUserRedirectInformations' | translate"></span>
          }
          @if (this.processMode === 'reaffect') {
            <span
              ><em>{{'lang.reaffectUserRedirectInformations' | translate}}</em></span>
            }
          </div>
        </div>
      </form>
    </mat-dialog-content>
    <span class="divider-modal"></span>
    <mat-dialog-actions>
      <button mat-raised-button class="primary" type="submit"
        [disabled]="!this.redirectUser && this.processMode === 'reaffect'"
      (click)="dialogRef.close({newUser:this.redirectUser,processMode:this.processMode})">{{'lang.validate' | translate}}</button>
    </mat-dialog-actions>
  </div>
