@if (loading) {
  <div style="    display: flex;align-items: center;height: 100%;justify-content: center;">
    <mat-spinner></mat-spinner>
  </div>
}
@if (!loading) {
  @if (!emptyDashboard()) {
    <div class="dashboard-container">
      @for (tile of headerService.tiles; track tile; let i = $index) {
        <div cdkDropList [id]="'list-' + i" [cdkDropListData]="tile" (cdkDropListDropped)="onDrop($event)" [cdkDropListConnectedTo]="['list-0','list-1','list-2','list-3','list-4','list-5']" style="position: relative;">
          <div class="tile" [style.border-color]="tile.color" [class.empty_tile_edit]="tile.id === null && tile.editMode"
            [class.empty_tile]="tile.id === null"
            (mouseleave)="leaveTile(tile)"
            (mouseenter)="enterTile(tile, i)"
            [cdkDragDisabled]="tile.id === null"
            [cdkDragData]="tile" style="height: 100%;"
            cdkDrag
            cdkDragBoundary=".dashboard-container">
            <div
              style="position: relative;height: 100%;width:100%;display: flex;flex-direction: column;align-items: center;justify-content: center;">
              @if (tile.id !== null && tile.editMode) {
                <div class="tool-left">
                  <span style="cursor: move;" cdkDragHandle>
                    <mat-icon style="color: white;" class="fa fa-arrows-alt"></mat-icon>
                  </span>
                </div>
              }
              @if (tile.id !== null && tile.editMode) {
                <div class="tool">
                  <button #test style="color: #3A7C00;" mat-button mat-icon-button [matMenuTriggerFor]="toolMenu"
                    (mouseenter)="hoveredTool=true"> <!-- EDISSYUM - ALO01 Amélioration RGAA | Remplacer color="primary" par style="color: #3A7C00;"-->
                    <mat-icon style="color: white;" class="fas fa-chevron-down"></mat-icon>
                  </button>
                  <mat-menu #toolMenu="matMenu">
                    @for (menu of tile.menus; track menu) {
                      @if (menu==='delete') {
                        <mat-divider></mat-divider>
                      }
                      @if (['view', 'color'].indexOf(menu) === -1) {
                        <button mat-menu-item
                        (click)="launchAction(menu, tile)">{{'lang.'+ menu | translate}}</button>
                      }
                      @if (menu==='view' && !hasError(tile.id)) {
                        <button mat-menu-item
                        [matMenuTriggerFor]="toolMenuView">{{'lang.chartView' | translate}}</button>
                      }
                      @if (menu==='color' && !hasError(tile.id)) {
                        <button mat-menu-item
                        [matMenuTriggerFor]="toolMenuColors">{{'lang.'+ menu | translate}}</button>
                      }
                    }
                  </mat-menu>
                  <mat-menu #toolMenuView="matMenu">
                    @for (view of getViews(tile); track view) {
                      @if (view.id !== 'chart') {
                        <button mat-menu-item [disabled]="tile.view === view.id"
                          (click)="changeView(tile,view.id)">
                          @if (view.id === 'list') {
                            <mat-icon class="fa fa-list"
                            style="height: auto;width: auto;color: #3A7C00"></mat-icon>
                          }
                          @if (view.id === 'summary') {
                            <mat-icon class="fas fa-equals"
                            style="height: auto;width: auto; color: #3A7C00"></mat-icon>
                          }
                          <span>{{'lang.' + view.id | translate}}</span>
                        </button>
                      }
                      @if (view.id === 'chart') {
                        <button mat-menu-item [matMenuTriggerFor]="toolMenuChartTypes">
                          <mat-icon class="fas fa-chart-pie" style="height: auto;width: auto; color: #3A7C00">
                          </mat-icon>
                          <span>{{'lang.' + view.id | translate}}</span>
                        </button>
                      }
                    }
                  </mat-menu>
                  <mat-menu #toolMenuChartTypes="matMenu" [class]="'chartTypeMenu'">
                    @for (chart of tile.charts; track chart) {
                      <button mat-menu-item [matMenuTriggerFor]="toolMenuChartMode"
                        [matMenuTriggerData]="{chart: chart}" [title]="'lang.chart_'+ chart.type | translate">
                        <mat-icon [class]="chart.icon" class="primary"
                        style="height: auto;width: auto;"></mat-icon>
                      </button>
                    }
                  </mat-menu>
                  <mat-menu #toolMenuChartMode="matMenu">
                    <ng-template let-chart="chart" matMenuContent>
                      @for (mode of chart.modes | sortBy: 'label'; track mode) {
                        <button mat-menu-item
                          [disabled]="tile.parameters.chartType === chart.type && tile.parameters.chartMode === mode.id && tile.view==='chart'"
                        (click)="changeView(tile,'chart',{'chartType': chart.type,'chartMode': mode.id})">{{mode.label}}</button>
                      }
                    </ng-template>
                  </mat-menu>
                  <mat-menu #toolMenuColors="matMenu">
                    <div (click)="$event.stopPropagation()">
                      <color-github style="color:#ef9a9a" width="100%" [colors]="dashboardService.getColors()"
                      [triangle]="'hide'" (onChangeComplete)="changeTileColor(tile, $event)"></color-github>
                    </div>
                  </mat-menu>
                </div>
              }
              @if (tile.id !== null) {
                <app-tile #tileComponent (hasError)="tileErrors.push($event);" [tile]="tile" [view]="tile.view"
                  style="display: flex;height: 100%;flex-direction: column;width: 100%;">
              </app-tile>
            }
            @if (tile.id === null && tile.editMode) {
              <button mat-button style="color: #C25712;" mat-icon-button [title]="'lang.addTile' | translate"
                (click)="addTilePrompt(tile)"> <!-- EDISSYUM - ALO01 Amélioration RGAA | Remplacer color="secondary" par style="color: #C25712;"-->
                <mat-icon class="fa fa-plus" style="color:#C25712"></mat-icon>
              </button>
            }
          </div>
        </div>
      </div>
    }
  </div>
}
@if (emptyDashboard()) {
  <div class="empty-dashboard">
    <i class="fas fa-desktop"></i>
    <div>
      <span>{{'lang.dashboardEmpty' | translate}}</span>&nbsp;<button mat-stroked-button style="color: #2E6300;"
    (click)="addTilePrompt(headerService.tiles[0])">{{'lang.addTile' | translate}}</button> <!-- EDISSYUM - ALO01 Amélioration RGAA | Remplacer color="primary" par style="color: #2E6300;"-->
  </div>
</div>
}
}

