<div class="mat-dialog-content-container">
  <h1 mat-dialog-title>{{'lang.exportDatas' | translate}}</h1>
  <div mat-dialog-content>
    @if (loadingExport) {
      <div class="loader">
        <mat-spinner></mat-spinner>
      </div>
    }
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>{{'lang.format' | translate}}</mat-label>
          <mat-select placeholder="{{'lang.format' | translate}}" [(ngModel)]="exportModel.format">
            @for (format of formats; track format) {
              <mat-option [value]="format">
                {{format}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>{{'lang.delimiter' | translate}}</mat-label>
          <mat-select placeholder="{{'lang.delimiter' | translate}}" [(ngModel)]="exportModel.delimiter"
            [disabled]="exportModel.format !== 'csv'">
            @for (delimiter of delimiters; track delimiter) {
              <mat-option [value]="delimiter">
                {{delimiter}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-12">
        <mat-slide-toggle class="primary" name="canModifyHeaders" [checked]="canModifyHeaders" (change)="setValues()">
          {{'lang.canModifyHeaders' | translate}}
        </mat-slide-toggle>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        @if (canModifyHeaders) {
          <mat-accordion>
            <mat-expansion-panel [expanded]="canModifyHeaders">
              <mat-expansion-panel-header [class.expansionDisabled]="!canModifyHeaders">
                <mat-panel-title>
                  {{'lang.datasToExport' | translate}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field appearance="outline" class="listFilter">
                    <input matInput placeholder="{{'lang.searchDatas' | translate}}" #listFilter cdkFocusInitial>
                    @if (listFilter.value) {
                      <button mat-button matSuffix
                        mat-icon-button aria-label="Clear" (click)="listFilter.value = ''"
                        [title]="'lang.clearFilter' | translate">
                        <mat-icon class="fas fa-times" style="color:#B3B3B3"></mat-icon>
                      </button>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row exportList">
                <div class="col-md-6 available-data">
                  <h2>
                    <span class="title">{{'lang.availableDatas' | translate}}</span> <i
                    class="fa fa-plus-circle removeAllDatas"
                    [class.disabledIcon]="dataAvailable.length === 0" style="color: #3A7C00"
                    [title]="'lang.addAllData' | translate"
                  (click)="addAllData()"></i>
                </h2>
                <div id="availableElements" cdkDropList #dataAvailableList="cdkDropList"
                  [cdkDropListData]="dataAvailable" [cdkDropListConnectedTo]="[dataExportList]"
                  class="cdk-list" (cdkDropListDropped)="drop($event)">
                  @for (item of dataAvailable | sortBy: 'label' | filterList:listFilter.value:'label'; track item) {
                    <div class="columns"
                      cdkDrag id="{{item.value}}">{{item.label}} <i class="fa fa-plus"
                    style="cursor:pointer;color: #3A7C00" (click)="addData(item)"></i></div>
                  }
                  @if (dataAvailable.length === 0) {
                    <div class="noData">{{'lang.noDataAvailable' | translate}}</div>
                  }
                </div>
              </div>
              <div style="display: flex;align-items: center;">
                <i class="fas fa-arrow-right"></i>
              </div>
              <div class="col-md-6 active-data">
                <h2>
                  <span class="title">{{'lang.chosenDatas' | translate}}</span> <i class="fa fa-minus-circle removeAllDatas warn"
                  [class.disabledIcon]="exportModel.data.length === 0"
                  [title]="'lang.removeAllDatas' | translate"
                (click)="removeAllData()"></i>
              </h2>
              <div id="selectedElements" cdkDropList #dataExportList="cdkDropList"
                [cdkDropListData]="exportModel.data" [cdkDropListConnectedTo]="[dataAvailableList]"
                class="cdk-list" (cdkDropListDropped)="drop($event)">
                @for (item of exportModel.data; track item; let i = $index) {
                  <div class="columns" cdkDrag
                    id="{{item.value}}">{{item.label}} <i class="fa fa-minus"
                  style="cursor:pointer; color:#8e3e52" (click)="removeData(i)"></i></div>
                }
                @if (exportModel.data.length === 0) {
                  <div class="noData">{{'lang.noDataAvailable' | translate}}</div>
                }
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    }
  </div>
</div>
</div>
<span class="divider-modal"></span>
<div mat-dialog-actions class="actions">
  <button mat-raised-button mat-button class="primary" [disabled]="exportModel.data.length === 0 && canModifyHeaders"
  (click)="exportData();" [disabled]="exportModel.data.length === 0 && canModifyHeaders">{{'lang.toExport' | translate}}</button>
  <button mat-raised-button mat-button [mat-dialog-close]="">{{'lang.cancel' | translate}}</button>
</div>
</div>