<mat-nav-list style="position:relative;">
</mat-nav-list>
<mat-nav-list>
  <div class="button-row" style="padding-left: 10px;padding-right: 10px;display: flex;width: 300px;margin-top: -10px;margin-bottom: 10px;">
    @for (shortcut of privilegeService.shortcuts; track shortcut) {
      @if ((shortcut.id === 'indexing' && shortcut.groups.length<=1) || (shortcut.id !== 'indexing')) {
        <span style="flex:1;text-align: left;padding: 5px;">
          <button [id]="shortcut.id" class="followedShortcut" style="z-index: 9999; background-color: white" mat-fab (click)="gotToMenu(shortcut);" matTooltip="{{shortcut.label | translate}}"
            matTooltipPosition="above"> <!-- EDISSYUM - ALO01 Amélioration RGAA | Supprimer et ajouter background-color: white dans le style-->
            <mat-icon class="fa {{shortcut.style}}" style="height:auto;font-size:22px;"
              matBadge="{{headerService.nbResourcesFollowed}}" matBadgeHidden="{{shortcut.id !== 'followed'}}"
            ></mat-icon>
          </button>
        </span>
      }
      @if (shortcut.id==='indexing' && shortcut.groups.length>1) {
        <span style="flex:1;text-align: left;padding: 5px;position: relative;">
          <app-smd-fab-speed-dial #myFab direction="down" animationMode="fling" fixed="false" (mouseenter)="myFab.open = true"
            (mouseleave)="myFab.open = false">
            <app-smd-fab-trigger spin="true">
              <button mat-fab style="background-color: white"> <!-- EDISSYUM - ALO01 Amélioration RGAA | Suppression color="default" ajout background-color: white -->
                <mat-icon style="font-size:22px; " class="fa {{shortcut.style}} spin360"></mat-icon>
              </button>
            </app-smd-fab-trigger>
            <app-smd-fab-actions>
              @for (group of shortcut.groups | sortBy : 'label' ; track group) {
                <button [id]="shortcut.id" class="primary bg-primary" mat-mini-fab (click)="onSpeedDialFabClicked(group)">
                  <span class="speedDialLabel" style="display:none;position: absolute;margin-left: 20px;margin-top: -5px;">{{group.label | shorten: 20: '...'}}</span>
                  <mat-icon class="fa fa-plus" style="color:white"></mat-icon>
                </button>
              }
            </app-smd-fab-actions>
          </app-smd-fab-speed-dial>
        </span>
      }
    }
  </div>
</mat-nav-list>
<mat-divider></mat-divider>
