<div class="admin-container" [class.admin-is-mobile]="appService.getViewMode()" style="margin-top: -63px;">
  <mat-toolbar class="primary admin-toolbar">
    <button mat-button>
      <mat-icon class="memLogoWhiteFull" [svgIcon]="appService.getViewMode() ? 'memLogoOnly' : 'memLogo'"></mat-icon>
    </button>
    <h1 class="admin-toolbar-title text-center" >{{'lang.missingAdvertTitle' | translate}}</h1>
    <span style="flex: 1 1 auto;"></span>
  </mat-toolbar>

  <mat-sidenav-container autosize class="admin-sidenav-container">
    <mat-sidenav-content>
      @if (loading) {
        <div style="display:flex;height:100%;">
          <mat-spinner style="margin:auto;"></mat-spinner>
        </div>
      }
      @if (!loading) {
        <div class="card-app-content">
          <div class="text-center" style="margin-top: 50px;">
            {{'lang.missingAdvert' | translate}}<br>
            {{'lang.missingAdvert2' | translate}}<br>
            @if (user.redirectedBaskets.length > 0) {
              <br>
                {{'lang.missingBasket' | translate}}<br>
              }
            </div>
            <div class="col-sm-4" style="overflow:hidden;"></div>
            <div class="col-sm-4" style="overflow:hidden;">
              @if (user.redirectedBaskets.length > 0) {
                <mat-list>
                  <mat-list-item>
                    <mat-icon mat-list-icon class="primary">
                      <!-- EDISSYUM - NCH01 Fix pour ne pas que la case "Tout selectionner" soit cochée si elle ne doit pas l'être -->
                      <!-- Changer [checked]="selectionBaskets.hasValue()" par [checked]="allSelected()" -->
                      <mat-checkbox class="primary" (change)="$event ? masterToggleBaskets($event) : null" [checked]="allSelected()"
                      matTooltip="{{'lang.selectAll' | translate}}"></mat-checkbox>
                    </mat-icon>
                    <p mat-line>
                      <!-- EDISSYUM - NCH01 Fix pour ne pas que la case "Tout selectionner" soit cochée si elle ne doit pas l'être -->
                      <!-- Changer [checked]="!selectionBaskets.hasValue()" par *ngIf="!allSelected()" -->
                      @if (!allSelected()) {
                        <span style="opacity: 0.5;font-style: italic;font-size: 80%;">
                          {{'lang.selectAll' | translate}}
                        </span>
                      }
                      <!-- EDISSYUM - NCH01 Fix pour ne pas que la case "Tout selectionner" soit cochée si elle ne doit pas l'être -->
                      <!-- Changer [checked]="selectionBaskets.hasValue()" par *ngIf="allSelected()" -->
                      @if (allSelected()) {
                        <span style="opacity: 1;font-style: normal;font-size: 100%;">
                          {{'lang.selectAll' | translate}}
                        </span>
                      }
                    </p>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  @for (basket of user.redirectedBaskets; track basket; let i = $index) {
                    @if (basket.userToDisplay !== null) {
                      <mat-list-item (mouseover)="showActions(basket)" (mouseout)="hideActions(basket)"
                        style="cursor: pointer;">
                        <mat-icon mat-list-icon class="primary">
                          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionBaskets.toggle(basket) : null" [checked]="selectionBaskets.isSelected(basket)"
                          class="primary"></mat-checkbox>
                        </mat-icon>
                        <h4 mat-line class="primary" style="display: flex;align-items: center;">
                          <span (click)="selectionBaskets.toggle(basket);" matTooltip="{{basket.basket_name}} [{{basket.group_desc}}] {{'lang.redirectedTo' | translate}} {{basket.userToDisplay}}" style="flex: 2;overflow: hidden;text-overflow: ellipsis;">
                            {{basket.basket_name}}
                            <span class="label label-primary" style="font-weight:normal">{{basket.group_desc}}</span>
                            <span style="opacity: 0.5;font-style: italic;font-size: 80%;"> {{'lang.redirectedTo' | translate}} {{basket.userToDisplay}}</span>
                          </span>
                        </h4>
                      </mat-list-item>
                    }
                  }
                </mat-list>
              }
            </div>
            <div class="col-sm-4" style="overflow:hidden;"></div>
            <div style="clear:both;"></div>
            @if (!loading) {
              <div class="text-center" style="position:relative; top:50px;">
                {{'lang.missingChoose' | translate}}<br>
                <br>
                  <button mat-raised-button class="primary" type="button" (click)="activateUser()">{{'lang.validate' | translate}}</button>
                  <button mat-raised-button class="primary" type="button" (click)="logout()">{{'lang.cancel' | translate}}</button>
                </div>
              }
            </div>
          }
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>