@if (appService.coreLoaded) {
  <mat-sidenav-container class="maarch-container" autosize>
    <mat-sidenav #snavLeft class="panel-left" [mode]="appService.getViewMode() ? 'over' : 'side'"
      [fixedInViewport]="appService.getViewMode()" [opened]="appService.getViewMode() || headerService.hideSideBar ? false : true"
      autoFocus="false" style="overflow-x:hidden;" [class.sideBarForm]="headerService.sideBarForm && !appService.getViewMode()" [class.sideBarFormMobile]="appService.getViewMode() && headerService.sideBarForm" [ngStyle]="{'width': appService.getViewMode() ? '80%' : '350px'}">
      @if (headerService.showhHeaderPanel && !headerService.hideSideBar) {
        <app-header-panel></app-header-panel>
      }
      @if (headerService.showMenuShortcut && !headerService.hideSideBar) {
        <app-menu-shortcut></app-menu-shortcut>
      }
      @if (headerService.showMenuShortcut && !headerService.hideSideBar) {
        <app-menu-nav></app-menu-nav>
      }
      @if (!headerService.sideBarAdmin && !headerService.hideSideBar) {
        <app-basket-home #basketHome></app-basket-home>
        <mat-divider></mat-divider>
        <app-panel-folder #panelFolder></app-panel-folder>
      }
      @if (!headerService.hideSideBar) {
        <div id="adminMenu" style="display: contents;"></div>
      }
      @if (!headerService.hideSideBar) {
        <div id="adminMenuContacts" style="display: contents;"></div>
        } <!-- EDISSYUM - NCH01 - Fenetre de recherche de contacts -->
      </mat-sidenav>
      <mat-sidenav-content class="maarch-content-root" style="position: relative">
        @if (!loading) {
          <router-outlet></router-outlet>
        }
        <!-- EDISSYUM - NCH01 Implémentation SerenIA -->
        <app-serenia-chatbot [enable]="this.sereniaService.enable"
          [resId]="this.sereniaService.resId"
          [showDialog]="this.sereniaService.showDialog"
          [actionsList]="this.sereniaService.actionsList"
          [messagesList]="this.sereniaService.messagesList"
          [keepSereniaIcon]="this.sereniaService.keepSereniaIcon"
          (actionEvent)="this.sereniaService.actionEvent($event)"
        [newNotification]="this.sereniaService.newNotification"></app-serenia-chatbot>
        <!-- END EDISSYUM - NCH01 -->
      </mat-sidenav-content>
      <mat-sidenav #snavRight [mode]="'side'"
        [fixedInViewport]="appService.getViewMode()"
        position="end"
        autoFocus="false"
        style="overflow-x:hidden;"
        [class.sideBarFormMobile]="appService.getViewMode() && headerService.sideBarForm"
        [ngStyle]="{'width': appService.getViewMode() ? '80%' : '400px'}">

      </mat-sidenav>
    </mat-sidenav-container>
  }
