<ng-container #myPlugin></ng-container>
<div class="mat-dialog-content-container">
  <h1 mat-dialog-title>{{data.action.label}}</h1>
  <div mat-dialog-content>
    @if (loading) {
      <div class="loading" style="display:flex;height:100%;">
        <mat-spinner style="margin:auto;"></mat-spinner>
      </div>
    }
    <mat-sidenav-container autosize style="height:100%;">
      <mat-sidenav-content style="background: white;padding:10px;">
        @if (!loading && canShowDigitalCertificate()) {
          <div
            class="digital-certificate"
            [attr.aria-label]="'lang.digitalCertificate' | translate">
            <mat-checkbox
              name="digitalCertificate"
              class="primary"
              [title]="(atLeastOneDocumentHasDigitalSignature()) ? ('lang.digitalSignatureIsMandatory' | translate) : ('lang.digitalCertificate' | translate)"
              [disabled]="atLeastOneDocumentHasDigitalSignature()"
              [(ngModel)]="parameters.digitalCertificate">
              {{'lang.digitalCertificate' | translate}}
            </mat-checkbox>
          </div>
        }
        <div class="make-action-stream-icon">
          <div class="make-action">
            {{'lang.makeActionOn' | translate}}
            @if (data.resIds.length === 0) {
              <b
              class="highlight primary">{{'lang.currentIndexingMail' | translate}}</b>
            }
            @if (data.resIds.length === 1) {
              <b class="primary highlight">{{data.resource.chrono}}</b>
            }
            @if (data.resIds.length > 1) {
              <b class="primary highlight">{{data.resIds.length}}
              {{'lang.elements' | translate}}</b>
              } ?
            </div>
            @if (data.resIds.length === 1) {
              <button
                mat-icon-button
                name="toggleVisaWorkflow"
                [attr.aria-hidden]="true"
                [title]="'lang.toggleVisaWorkflow' | translate"
                (click)="snav2.toggle()">
                <mat-icon class="fa fa-stream material-icons"></mat-icon>
              </button>
            }
          </div>
          @if (!loading && isEmptyWorkflow) {
            <app-maarch-message mode="danger">
              <span>{{'lang.isEmptyWorkflow' | translate}}</span>
            </app-maarch-message>
          }
          @if (!loading && data.resIds.length > 0 && atLeastOneDocumentHasNoStamp() && canHadStampSignature()) {
            <app-maarch-message
              [mode]="'warning'">
              <div class="at-least-no-one-stamp" role="alert"
                [title]="'lang.atLeastOneDocumentHasNoStamp' | translate | stripTags"
                [innerHTML]="'lang.atLeastOneDocumentHasNoStamp' | translate">
              </div>
              @if (!parameters.digitalCertificate) {
                <div class="at-least-no-one-stamp" role="alert"
                  [attr.aria-label]="'lang.seenAsVisaUser' | translate | stripTags"
                [innerHTML]="'lang.seenAsVisaUser' | translate"></div>
              }
            </app-maarch-message>
          }
          @if (data.resIds.length === 1 && appVisaWorkflow !== undefined && appVisaWorkflow.getNextVisaUser() !== '') {
            <app-maarch-message
              [mode]="'info'">
              <div class="workflow-info">
                <div
                  [title]="('lang.sendToDocTo' | translate) + ' <b>' + appVisaWorkflow.getNextVisaUser().labelToDisplay + '</b>'"
                  [attr.aria-label]="('lang.sendToDocTo' | translate) + ' <b>' + appVisaWorkflow.getNextVisaUser().labelToDisplay + '</b>'"
                  [innerHTML]="('lang.sendToDocTo' | translate) + ' <b>' + appVisaWorkflow.getNextVisaUser().labelToDisplay + '</b>'"></div>
                  <div class="show-hide-workflow"
                    [title]="(!snav2.opened ? 'lang.showVisaWorkflow' : 'lang.hideVisaWorkflow') | translate"
                    (click)="snav2.toggle()">
                    <span>{{(!snav2.opened ? 'lang.showVisaWorkflow' : 'lang.hideVisaWorkflow') | translate}}</span>
                  </div>
                </div>
              </app-maarch-message>
            }
            @if (data.resIds.length === 1 && appVisaWorkflow !== undefined && appVisaWorkflow.getNextVisaUser() === '' && !noResourceToProcess) {
              <app-maarch-message
                [mode]="'info'">
                <div class="workflow-info">
                  <div
                    [title]="'lang.endWorkflow' | translate"
                    [attr.aria-label]="'lang.endWorkflow' | translate"
                  [innerHTML]="'lang.endWorkflow' | translate"></div>
                  <div class="show-hide-workflow"
                    [title]="(!snav2.opened ? 'lang.showVisaWorkflow' : 'lang.hideVisaWorkflow') | translate"
                    [attr.aria-label]="(!snav2.opened ? 'lang.showVisaWorkflow' : 'lang.hideVisaWorkflow') | translate"
                    (click)="snav2.toggle()">
                    <span>{{(!snav2.opened ? 'lang.showVisaWorkflow' : 'lang.hideVisaWorkflow') | translate}}</span>
                  </div>
                </div>
              </app-maarch-message>
            }
            @if (resourcesErrors.length > 0) {
              <app-maarch-message
                [mode]="'danger'">
                <p [title]="'lang.canNotMakeAction' | translate">
                  {{'lang.canNotMakeAction' | translate}} :
                </p>
                <ul>
                  @for (ressource of resourcesErrors; track ressource) {
                    <li
                      [title]="ressource.alt_identifier + ' : ' + ('lang.' + ressource.reason | translate)"
                      [attr.aria-label]="ressource.alt_identifier + ' : ' + ('lang.' + ressource.reason | translate)">
                      <b>{{ressource.alt_identifier}}</b> : {{'lang.' + ressource.reason | translate}}
                    </li>
                  }
                </ul>
              </app-maarch-message>
            }
            @if (resourcesWarnings.length > 0) {
              <app-maarch-message
                [mode]="'info'">
                <ul style="margin: 0;padding-bottom: 0px;">
                  @for (ressource of resourcesWarnings; track ressource) {
                    <li
                      [title]="ressource.alt_identifier + ' : ' + ('lang.' + ressource.reason | translate)"
                      [attr.aria-label]="ressource.alt_identifier + ' : ' + ('lang.' + ressource.reason | translate)">
                      <b>{{ressource.alt_identifier}}</b> : {{'lang.' + ressource.reason | translate}}
                    </li>
                  }
                </ul>
              </app-maarch-message>
            }
            @if (resourcesMailing.length > 0 && appVisaWorkflow !== undefined && appVisaWorkflow.getNextVisaUser() !== '' && appVisaWorkflow.getNextVisaUser().requested_signature) {
              <app-maarch-message
                [mode]="'info'">
                <p
                  [title]="'lang.mailingActionInformations' | translate"
                  [attr.aria-label]="'lang.mailingActionInformations' | translate">
                  {{'lang.mailingActionInformations' | translate}}
                </p>
                <ul>
                  @for (ressource of resourcesMailing; track ressource) {
                    <li [title]="ressource.alt_identifier" [attr.aria-label]="ressource.alt_identifier">
                      <b>{{ressource.alt_identifier}}</b>
                    </li>
                  }
                </ul>
              </app-maarch-message>
            }
            @if (!loading && data.resIds.length > 0 ) {
              <div class="div-container">
                <div class="docs-title"
                  [title]="data.resource.docsToSign.length + ' ' + ('lang.docsToVisaSign' | translate)"
                  [attr.aria-label]="data.resource.docsToSign.length + ' ' + ('lang.docsToVisaSign' | translate)">
                  <span> {{data.resource.docsToSign.length}} {{'lang.docsToVisaSign' | translate}}</span>
                </div>
                <div class="docs-container">
                  <div class="docs-to-sign">
                    @if (data.resource.docsToSign?.length > 0) {
                      @for (resource of data.resource.docsToSign; track resource) {
                        <div class="content"
                          [attr.aria-label]="resource.chrono + ' - ' + resource.title"
                          [title]="resource.chrono + ' - ' + resource.title">
                          <div class="chrono-stamp"
                            [attr.aria-label]="('lang.chrono' | translate) + ' : ' + resource.chrono">
                            <span class="chrono" [title]="resource.chrono">{{resource.chrono}}</span>
                            @if (resource.stamps.length === 0 && canHadStampSignature()) {
                              <div
                                class="empty-stamp-warn"
                                [title]="'lang.noStampDesc' | translate">
                                <mat-icon class="fas fa-circle-exclamation" style="color:#8e3e52"></mat-icon>
                                <span
                                  [attr.aria-label]="'lang.noStamp' | translate"
                                  class="empty-stamp">
                                  {{'lang.noStamp' | translate}}
                                </span>
                              </div>
                            }
                          </div>
                          <div class="resource-title"
                            [attr.aria-label]="('lang.subject' | translate) + ' : ' + resource.title">
                            <span [title]="resource.title">{{resource.title}}</span>
                          </div>
                        </div>
                      }
                    }
                    @if (data.resource.docsToSign?.length === 0) {
                      <span class="empty-docs-to-sign" [title]="'lang.emptyDocsToSign' | translate">{{'lang.emptyDocsToSign' | translate}}</span>
                    }
                  </div>
                </div>
              </div>
            }
            <div style="display: flow;">
              <mat-expansion-panel style="margin-top: 10px;" [expanded]="noteExpanded">
                <mat-expansion-panel-header>
                  <mat-panel-title class="primary">
                    {{'lang.note' | translate}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                  <app-note-editor #noteEditor [resIds]="data.resIds"></app-note-editor>
                </ng-template>
              </mat-expansion-panel>
            </div>
          </mat-sidenav-content>
          @if (data.resIds.length === 1) {
            <mat-sidenav #snav2 class="visa-workflow-sidenav"
              position='end'
              autoFocus="false"
              fixedTopGap="56"
              [mode]="'side'"
              [opened]="false"
              [ngStyle]="{'width': '600px', 'padding': '5px'}"
              style="overflow-x:hidden;">
              <mat-toolbar class="primary workflow-toolbar">
                <mat-icon class="fas fa-list-ol"></mat-icon>
                <span>{{'lang.visaWorkflow' | translate}}</span>
              </mat-toolbar>
              <app-visa-workflow
                [adminMode]="false"
                [resId]="data.resIds[0]"
                [target]="'action'"
                (workflowLoaded)="visaWorkflow = $event"
                #appVisaWorkflow>
              </app-visa-workflow>
            </mat-sidenav>
          }
        </mat-sidenav-container>
      </div>
      <span class="divider-modal"></span>
      <div mat-dialog-actions class="actions">
        <button
          mat-raised-button
          mat-button
          class="primary"
          [title]="((atLeastOneDocumentHasNoStamp() && !parameters.digitalCertificate)) ? ('lang.stampIsMandatory' | translate) : ('lang.validate' | translate)"
          [disabled]="isNotValidAction()"
        (click)="onSubmit()">{{'lang.validate' | translate}}</button>
        <button mat-raised-button mat-button [disabled]="loading" (click)="isModalCanceled = true; dialogRef.close()">{{'lang.cancel' | translate}}</button>
      </div>
    </div>
