@if (loading) {
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  <div id="attachDiv" (mouseover)="resetToggleInfo()">
    @if (attachmentsClone.length > 0 && isModal) {
      <div class="attachmentsSubDiv">
        <div class="attachFilter">
          <div class="attachFilter-title" style="margin: 13px;">
            {{'lang.filterAttach' | translate}}
          </div>
          <mat-button-toggle-group id="integrationTarget" class="filterTypes"
            [value]="currentIntegrationTarget"
            (change)="setTaget($event.value)">
            @for (type of integrationTargets; track type) {
              <mat-button-toggle
                [checked]="currentIntegrationTarget === type.id"
                [title]="type.description"
                [value]="type.id">{{type.label}}
              </mat-button-toggle>
            }
          </mat-button-toggle-group>
          <mat-button-toggle-group id="attachType" class="filterTypes" style="margin-top: 7px;" (change)="filterType($event)">
            @if (filterAttachTypes.length > 0) {
              <mat-button-toggle
                [checked]="currentFilter === ''"
                [title]="'lang.allAttachTypes' | translate"
                [value]="''">{{'lang.all' | translate}}
              </mat-button-toggle>
            }
            @for (attachType of filterAttachTypes | sortBy : 'label'; track attachType) {
              <mat-button-toggle
                [checked]="currentFilter === attachType.id"
                [title]="('lang.attachWithType' | translate) +  attachType.label"
                [value]="attachType.id">{{attachType.label}}
              </mat-button-toggle>
            }
          </mat-button-toggle-group>
        </div>
      </div>
    }
    @if (attachmentsClone.length > 0 && !isModal) {
      <mat-button-toggle-group class="filterTypes" (change)="filterType($event)">
        <mat-button-toggle [checked]="currentFilter === ''" [value]="''">Tous</mat-button-toggle>
        @for (attachType of filterAttachTypes | sortBy : 'label'; track attachType) {
          <mat-button-toggle
            [checked]="currentFilter === attachType.id" [value]="attachType.id">{{attachType.label}}
          </mat-button-toggle>
        }
      </mat-button-toggle-group>
    }
    @if (attachments.length === 0) {
      <div style="text-align:center;font-size:24px;font-weight:bold;opacity:0.3;">
        {{'lang.noAttachment' | translate}}
      </div>
    }
    @for (attachment of attachments | filterList:currentFilter:'type'; track attachment) {
      <mat-card
        [class.signed]="attachment.status === 'SIGN'" [style.background-image]="'url('+(attachment.thumbnailUrl | secureUrl | async)+')'"
        style="padding:0;margin: 30px;min-height: 300px;background-size: cover;overflow: hidden;"
        (mouseover)="$event.stopPropagation();toggleInfo(attachment,true)">
        @if (attachment.hideMainInfo) {
          <div class="layout" [@myAnimation] (click)="showAttachment(attachment)">
            <button mat-raised-button class="primary"
            (click)="$event.stopPropagation();showAttachment(attachment)">{{'lang.viewResource' | translate}}</button>
            @if (attachment.type !=='reply_record_management' && attachment.type !=='acknowledgement_record_management' && attachment.status!=='SIGN' && attachment.status!=='FRZ' && attachment.canDelete && (canDelete || canDelete === null)) {
              <button mat-raised-button name="delete" class="warn"
              (click)="$event.stopPropagation();deleteAttachment(attachment)">{{'lang.deleteResource' | translate}}</button>
            }
          </div>
        }
        <div class="pjToolsContent">
          @if (attachment.relation > 1) {
            <span class="primary versionButton ">{{'lang.version' | translate}} <b
            class="secondary">{{attachment.relation}}</b></span>
          }
          <button name="menuPjAction" class="actionsButton" style="color: #3A7C00" mat-icon-button [matMenuTriggerFor]="menuPjAction" #menuTrigger="matMenuTrigger">
            <mat-icon fontSet="fas" fontIcon="fa-ellipsis-v"></mat-icon>
          </button>
          <mat-menu #menuPjAction="matMenu">
            @if (!hideIntegrationActions) {
              <button
                class="button-item"
                name="putInSignatureBook"
                mat-menu-item
                [title]="'lang.putInSignatureBook' | translate"
                [disabled]="attachment.status === 'FRZ' || !attachment.canUpdate"
                (click)="$event.stopPropagation(); setInSignatureBook(attachment); menuTrigger.closeMenu()">
                <mat-checkbox class="primary" [checked]="attachment.inSignatureBook"></mat-checkbox>
                {{'lang.putInSignatureBook' | translate}}
              </button>
            }
            @if (!hideIntegrationActions) {
              <button
                class="button-item"
                mat-menu-item
                [title]="'lang.putInSendAttach' | translate"
                [disabled]="!mailevaEnabled"
                (click)="$event.stopPropagation(); setInSendAttachment(attachment); menuTrigger.closeMenu()">
                <mat-checkbox class="primary" [checked]="attachment.inSendAttach"
                  [disabled]="!mailevaEnabled">
                </mat-checkbox>
                {{'lang.putInSendAttach' | translate}}
              </button>
            }
            @if (!loading && attachment.status === 'SIGN' && signatureBookService.config.isNewInternalParaph && privilegeService.hasCurrentUserPrivilege('download_proof_file')) {
              <button
                mat-menu-item
                [title]="'lang.downloadProof' | translate"
                [disabled]="downloadingProof"
                (click)="$event.stopPropagation(); downloadProof(attachment)">
                <mat-icon class="fas fa-award" style="font-size: 17px; color: #3A7C00"></mat-icon>
                <span style="white-space: pre-wrap;">{{'lang.downloadProof' | translate}}</span>
              </button>
            }
            @if (attachment.status === 'FRZ') {
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="openExternalSignatoryBookWorkflow(attachment)"
                [disabled]="!externalSignatoryBook.canViewWorkflow()"
                [title]="getTitle()">
                {{'lang.' + externalSignatoryBook.signatoryBookEnabled + 'Workflow' | translate}}
              </button>
            }
          </mat-menu>
        </div>
        <div class="infosPj">
          <div class="stateInfo">
            @if (attachment.inSignatureBook) {
              <i title="{{'lang.inSignatureBook' | translate}}" class="fas fa-file-signature"></i>
              }&nbsp;
              @if (attachment.inSendAttach) {
                <i title="{{'lang.inShipping' | translate}}" class="fa fa-shipping-fast"></i>
              }
              @if (attachment.inSignatureBook) {
                <span name="integrationTarget"
                  class="integrationTarget"
                  [title]="(attachment.signable ? 'lang.signTargetDesc' : 'lang.annexTargetDesc') | translate">
                  {{(attachment.signable ? 'lang.signTarget' : 'lang.annexTarget') | translate}}
                </span>
              }
            </div>
            @if (!attachment.hideMainInfo) {
              <div class="mainInfos">
                {{attachment.chrono}}&nbsp;
              </div>
            }
            @if (attachment.hideMainInfo) {
              <div class="mainInfos">
                {{attachment.title | shorten : 40:'...'}}
              </div>
            }
            @if (!attachment.hideMainInfo) {
              <div class="subInfos">
                {{attachment.typeLabel}}
              </div>
            }
            @if (attachment.hideMainInfo) {
              <div class="subInfos">
                @if (attachment.signDate !== undefined) {
                  {{'lang.signedAlt' | translate}} <b>{{attachment.signDate | timeAgo : 'full'}}</b> {{'lang.by' | translate | lowercase}}
                  <b>{{attachment.signatory}}</b>
                } @else {
                  @if (attachment.modificationDate !== null) {
                    {{'lang.modified' | translate}} <b>{{attachment.modificationDate | timeAgo : 'full'}}</b>
                    {{'lang.by' | translate | lowercase}} <b>{{attachment.modifiedBy}}</b>
                  } @else {
                    {{'lang.created' | translate}} <b>{{attachment.creationDate | timeAgo : 'full'}}</b>
                    {{'lang.by' | translate | lowercase}} <b>{{attachment.typistLabel}}</b>
                  }
                }
              </div>
            }
            <div class="statusInfo">
              {{'lang.attachment_' + attachment.status | translate}}
            </div>
          </div>
        </mat-card>
      }
    </div>
    @if (canAdd) {
      <button mat-fab class="addPj bg-primary" [class.addPjPanel]="target === 'panel'" [class.addPjProcess]="target === 'process'" [title]="'lang.addAttachment' | translate" (click)="createAttachment()">
        <mat-icon class="fa fa-plus"></mat-icon>
      </button>
    }
  }
