@if (currentFoldersList !== undefined && currentFoldersList.length > 0) {
  <button mat-menu-item [matMenuTriggerFor]="currentFolders"
    class="folderAction">
    <mat-icon style="color:#8e3e52" class="fa fa-folder-minus fa-2x"></mat-icon>
    <span>{{'lang.removeFromFolder' | translate}}...</span>
  </button>
}
<mat-menu #currentFolders="matMenu" [class]="'folderListMenu'">
  @for (currentfolder of currentFoldersList | sortBy : 'label'; track currentfolder) {
    <button mat-menu-item class="labelFolder"
      (click)="unclassifyDocuments(currentfolder)" [title]="currentfolder.label">@if (currentfolder.public) {
      <i class="fa fa-users private"
      title="{{'lang.sharedFolder' | translate}}"></i>
    } {{currentfolder.label}}</button>
  }
</mat-menu>
<button mat-menu-item [matMenuTriggerFor]="folders" class="folderAction" (menuOpened)="initFolderMenu()"
  [disabled]="resIds.length === 0">
  <mat-icon style="color: #3A7C00" class="fa fa-folder-open fa-2x"></mat-icon>
  <span>{{'lang.classifyIn' | translate}}</span>
</button>
<mat-menu #folders="matMenu" [class]="'folderListMenu'" restoreFocus="false">
  <ng-template matMenuContent>
    <mat-form-field floatLabel="never" appearance="outline" class="smallInput" (click)="$event.stopPropagation();">
      <input matInput id="searchTerm" placeholder="{{'lang.searchFolder' | translate}}" [formControl]="searchTerm"
        autocomplete="off" (click)="$event.stopPropagation();" (keydown)="$event.stopPropagation()">
    </mat-form-field>
    @if (!loading) {
      @if (pinnedFolder && foldersList.length !== 0) {
        <button mat-menu-item class="noFolder" disabled>{{'lang.myPinnedFolder' | translate}}</button>
      }
      @if (pinnedFolder && foldersList.length === 0) {
        <button mat-menu-item class="noFolder" disabled>{{'lang.noPinnedFolder' | translate}}</button>
      }
      @if (!pinnedFolder && foldersList.length === 0 && !loading) {
        <button mat-menu-item class="noFolder"
        disabled>{{'lang.noAvailableFolder' | translate}}</button>
      }
      @if (!pinnedFolder && foldersList.length === 0 && !loading) {
        <button mat-menu-item class="createFolder" (click)="openCreateFolderModal()">Créer un dossier</button>
      }
      @for (folder of foldersList | sortBy : 'label'; track folder) {
        <button mat-menu-item class="labelFolder"
          (click)="classifyDocuments(folder)" [title]="folder.label">@if (folder.public) {
          <i class="fa fa-users private"
          title="{{'lang.sharedFolder' | translate}}"></i>
        } {{folder.label}}</button>
      }
    } @else {
      <div class="loading">
        <mat-spinner diameter="35"></mat-spinner>
      </div>
    }
  </ng-template>
</mat-menu>
