@if (headerService.sideNavLeft !== undefined) {
  <div class="bg-head-title-label">
    @if (!headerService.sideNavLeft?.opened) {
      <button mat-icon-button (click)="headerService.sideNavLeft.open()" style="font-size:20px;" title="{{'lang.openSidePanel' | translate}}">
        <mat-icon class="fa fa-stream"></mat-icon>
      </button>
    }
    @if (headerService.headerMessageIcon !== '') {
      <i class="{{headerService.headerMessageIcon}} headerIcon"></i>
      } {{headerService.headerMessage}} <span class="admin-toolbar-title-small">{{headerService.subHeaderMessage}}</span>
    </div>
  }