@if (!loading) {
  <app-maarch-message [content]="'lang.m2mDesc' | translate : {url : maarch2maarchUrl}">
  </app-maarch-message>
  @if (!passwordAlreadyExists) {
    <app-maarch-message [mode]="'danger'" [content]="'lang.m2mPasswordMsg' | translate"></app-maarch-message>
  }
  <div class="formType" style="margin-top: 20px;">
    <div class="formType-title">
      {{('lang.communicationMeans' | translate)}}
    </div>
    <div style="width: 100%;">
      <mat-form-field>
        <mat-label>{{'lang.uri' | translate}}</mat-label>
        <input matInput [formControl]="communications.url" [placeholder]="'lang.uriServerExample' | translate">
        <mat-hint align="end" [innerHTML]="'lang.m2mUriDesc' | translate"></mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'lang.userIdMaarch2Maarch' | translate}}</mat-label>
        <input matInput [formControl]="communications.login">
        <mat-hint align="end" [innerHTML]="'lang.userIdm2mDesc' | translate"></mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'lang.userPasswordMaarch2Maarch' | translate}}</mat-label>
        <input matInput [formControl]="communications.password">
        <mat-hint align="end" [innerHTML]="'lang.userPasswordm2mDesc' | translate"></mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'lang.email' | translate}}</mat-label>
        <input matInput [formControl]="communications.email">
        <mat-hint align="end" [innerHTML]="'lang.m2mEmailDesc' | translate"></mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="formType" style="margin-top: 20px;">
    <div class="formType-title">
      {{'lang.m2mSection1' | translate}}
    </div>
    <div style="width: 100%;">
      @if (privilegeService.hasCurrentUserPrivilege('admin_baskets')) {
        <app-plugin-select-search [id]="'basketToRedirect'" [label]="'lang.redirectToBasketAfterIndexing' | translate" [class]="''"
          [placeholderLabel]="'lang.chooseValue' | translate" [formControlSelect]="basketToRedirect"
          [datas]="baskets" [showLabel]="true" style="width:100%;">
        </app-plugin-select-search>
      } @else {
        <mat-form-field>
          <mat-label>{{'lang.redirectToBasketAfterIndexing' | translate}}</mat-label>
          <input matInput [formControl]="basketToRedirect">
          <mat-hint align="end" [innerHTML]="'lang.basketId' | translate"></mat-hint>
        </mat-form-field>
      }
    </div>
  </div>
  <div class="formType" style="margin-top: 20px;">
    <div class="formType-title">
      {{'lang.m2mSection2' | translate}}
    </div>
    <div style="width: 100%;">
      <app-maarch-message [content]="'lang.setDefaultMetadata' | translate">
      </app-maarch-message>
      <app-plugin-select-search [id]="'typeId'" [label]="'lang.typeId' | translate" [class]="''"
        [placeholderLabel]="'lang.chooseValue' | translate" [formControlSelect]="metadata.typeId"
        [datas]="doctypes" [showLabel]="true" style="width:100%;">
      </app-plugin-select-search>
      <app-plugin-select-search [id]="'statusId'" [label]="'lang.status' | translate" [class]="''"
        [placeholderLabel]="'lang.chooseValue' | translate" [formControlSelect]="metadata.statusId"
        [datas]="statuses" [showLabel]="true" style="width:100%;">
      </app-plugin-select-search>
      <app-plugin-select-search [id]="'priorityId'" [label]="'lang.priority' | translate" [class]="''"
        [placeholderLabel]="'lang.chooseValue' | translate" [formControlSelect]="metadata.priorityId"
        [datas]="priorities" [showLabel]="true" style="width:100%;">
      </app-plugin-select-search>
      <app-plugin-select-search [id]="'indexingModelId'" [label]="'lang.indexingModel' | translate" [class]="''"
        [placeholderLabel]="'lang.chooseValue' | translate" [formControlSelect]="metadata.indexingModelId"
        [datas]="indexingModels" [showLabel]="true" style="width:100%;">
      </app-plugin-select-search>
      <app-plugin-select-search [id]="'attachmentTypeId'" [label]="'lang.attachmentType' | translate" [class]="''"
        [placeholderLabel]="'lang.chooseValue' | translate" [formControlSelect]="metadata.attachmentTypeId"
        [datas]="attachmentsTypes" [showLabel]="true" style="width:100%;">
      </app-plugin-select-search>
    </div>
  </div>
  <mat-slide-toggle style="height:40px;" class="primary" [formControl]="annuary.enabled">
  {{'lang.useContactsAnnuaries' | translate}}</mat-slide-toggle>
  @if (annuary.enabled.value) {
    <div class="annuaries-list">
      @for (annuaryConf of annuary.annuaries; track annuaryConf; let i = $index) {
        <div class="formType" style="margin-top: 20px;">
          <div class="formType-title">
            {{'lang.annuary' | translate}} {{i+1}}
          </div>
          <div style="width: 100%;">
            @for (data of annuaryConf | keyvalue: originalOrder; track data) {
              @if (data.key !== 'ssl') {
                <mat-form-field>
                  <mat-label>{{'lang.' + data.key | translate}}</mat-label>
                  <input matInput [formControl]="data.value">
                </mat-form-field>
              }
              @if (data.key === 'ssl') {
                <mat-slide-toggle style="height:40px;" class="primary"
                [formControl]="data.value">{{'lang.' + data.key | translate}}</mat-slide-toggle>
              }
            }
            <div style="text-align: center;">
              <button mat-raised-button class="warn" (click)="deleteAnnuary(i)"
                [disabled]="annuary.annuaries.length === 1">
              {{'lang.delete' | translate}}</button>
            </div>
          </div>
        </div>
      }
      <div class="add-conf" style="align-items: center;justify-content: center;display: flex;">
        <button mat-button class="primary" (click)="addAnnuary()">
          <i class="fa fa-plus"></i>
        {{'lang.add' | translate}}</button>
      </div>
    </div>
  }
} @else {
}
