<mat-list>
  @for (regroupedBasket of userGroupBaskets; track regroupedBasket; let i = $index) {
    @if (regroupedBasket.baskets[0]) {
      <h3>{{regroupedBasket.groupDesc}}</h3>
    }
    @for (basket of regroupedBasket.baskets; track basket; let y = $index) {
      <mat-list-item
        >
        <mat-icon mat-list-icon class="fa fa-inbox"
          [ngStyle]="{'color': userGroupBaskets[i].baskets[y].color}">
        </mat-icon>
        <h4 mat-line title="{{basket.basket_id}}">{{basket.basket_name}}</h4>
        <input id="userGroupBaskets" name="color" type="color"
          [(ngModel)]="userGroupBaskets[i].baskets[y].color"
          (change)="updateBasketColor(i, y)" />
        <a id="basketColor" (click)="userGroupBaskets[i].baskets[y].color = ''; updateBasketColor(i, y)"
          title="{{'lang.resetColor' | translate}}">
          <i class="fa fa-magic"></i>
        </a>
      </mat-list-item>
    }
  }
</mat-list>