<div class="mat-dialog-content-container">
  <mat-dialog-content>
    @if (data.state=='BEGIN') {
      <p>
        {{'lang.hello' | translate}} <b>{{data.user.firstname}} {{data.user.lastname}}</b>, <br/>{{'lang.changePasswordInfo' | translate}}.
      </p>
    }
    @if (data.state=='END') {
      <p>
        <mat-icon class="fa fa-check-circle fa-2x" style="color: #3A7C00  "></mat-icon> <span style="padding-left: 10px;">{{'lang.passwordChanged' | translate}}</span>
      </p>
    }
  </mat-dialog-content>
  <span class="divider-modal"></span>
  <mat-dialog-actions>
    @if (data.state=='BEGIN') {
      <button mat-raised-button class="primary" (click)="dialogRef.close()">Ok</button>
    }
    @if (data.state=='END') {
      <button mat-raised-button class="primary" (click)="redirect()">{{'lang.homePage' | translate}}</button>
    }
  </mat-dialog-actions>
</div>