<button class="bg-primary" mat-mini-fab cdkDrag [matMenuTriggerFor]="menu" [title]="'lang.mailInformations' | translate" cdkDragBoundary="html">
  <mat-icon class="fas fa-info-circle" style="height: auto;font-size: 23px; margin-bottom: 3px"></mat-icon>
</button>
<mat-menu #menu="matMenu" [class]="'devToolListMenu'">
  @for (infoTool of infoTools; track infoTool) {
    <button mat-menu-item (click)="toggleModal(infoTool)" [disabled]="infoTool.display" style="display: flex;align-items: center;">
      <mat-icon [class]="infoTool.icon" style="height: auto; color: #3A7C00"></mat-icon>
      <span style="flex:1;">
        {{infoTool.label}}
      </span>
      @if (infoTool.count > 0) {
        <i class="fas fa-circle haveContent"></i>
      }
    </button>
  }
</mat-menu>
@for (modal of infoTools; track modal; let i = $index) {
  @if (modal.display === true) {
    <div class="modal-module {{modal.id}} largeModal" cdkDrag cdkDragBoundary="html">
      <div class="modal-module-title" cdkDragHandle>
        <span>
          {{modal.label}}
        </span>
        <button mat-icon-button (click)="toggleModal(modal)">
          <mat-icon class="fas fa-times"></mat-icon>
        </button>
      </div>
      <div class="modal-module-content">
        @if (modal.id === 'history') {
          <app-history-list #appHistoryList
            [resId]="resId">
          </app-history-list>
        }
        @if (modal.id === 'notes') {
          <app-notes-list #appNotesList [editMode]="false"
            [resId]="resId">
          </app-notes-list>
        }
        @if (modal.id === 'linkedResources') {
          <app-linked-resource-list #appLinkedResourceList
          [resId]="resId" [editMode]="false" [canAccessResources]="false" ></app-linked-resource-list>
        }
        @if (modal.id === 'diffusionList') {
          <app-diffusions-list #appDiffusionsList [adminMode]="false"
            [target]="'details'" [resId]="resId" [expanded]="true">
          </app-diffusions-list>
        }
        @if (modal.id === 'emails') {
          <app-sent-resource-list #appSentResource
            [resId]="resId" [editMode]="false">
          </app-sent-resource-list>
        }
        @if (modal.id === 'visaCircuit') {
          <app-visa-workflow
            [adminMode]="false"
            #appVisaWorkflow [resId]="resId">
          </app-visa-workflow>
        }
        @if (modal.id === 'opinionCircuit') {
          <app-avis-workflow #appAvisWorkflow
            [resId]="resId"
            [adminMode]="false">
          </app-avis-workflow>
        }
      </div>
    </div>
  }
}
