<div class="mat-dialog-content-container">
  <h1 mat-dialog-title>{{title | translate}}</h1>
  <div mat-dialog-content>
    @if (loading) {
      <mat-spinner style="margin:auto;"></mat-spinner>
    } @else {
      @if (mainIndexingModel.used.length === 0) {
        <div class="alert-message alert-message-info" style="margin: 20px 0;" role="alert"
          [innerHTML]="'lang.confirmAction' | translate">
        </div>
      } @else {
        <div class="alert-message alert-message-info">
          {{'lang.indexingModelUsedBy' | translate}}
          <ul>
            @for (usage of mainIndexingModel.used; track usage) {
              <li>
                <b>{{usage.count}}</b> {{'lang.mailsWithStatus' | translate}} <b>{{usage.status}}</b>
              </li>
            }
          </ul>
          {{'lang.indexingModelReplaceToDelete' | translate}}
        </div>
        <div>
          <mat-form-field style="padding: 10px; margin-top: 15px">
            <mat-select name="model" [(ngModel)]="modelIds" [placeholder]="'lang.indexingModel' | translate"
              required (selectionChange)="changeModel($event)">
              @for (model of indexingModels; track model; let i = $index) {
                <mat-option [value]="model.id"
                  [disabled]="model.id === mainIndexingModel.id">
                  {{model.label}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        @if (resetFields.length !== 0) {
          <div class="alert-message alert-message-danger">
            {{'lang.indexingModelFieldsReset' | translate}}
            <ul>
              @for (field of resetFields; track field) {
                <li>
                  {{field.label}}
                </li>
              }
            </ul>
            {{'lang.confirmAction' | translate}}
          </div>
        }
      }
    }
    <span class="divider-modal"></span>
    <div mat-dialog-actions>
      <button class="actions primary" mat-raised-button [disabled]="!isValid()"
      (click)="onSubmit()">{{'lang.validate' | translate}}</button>
      <button class="actions" mat-raised-button
      (click)="this.dialogRef.close('');">{{'lang.cancel' | translate}}</button>
    </div>
  </div>
</div>