<div class="mat-dialog-content-container">
  <h1 mat-dialog-title>
    <span style="flex: 1;">
      {{'lang.generateAndDownloadPrintedFolder' | translate}}
    </span>
    <button [title]="'lang.close' | translate" mat-icon-button (click)="dialogRef.close();">
      <mat-icon class="fa fa-times"></mat-icon>
    </button></h1>
    <mat-dialog-content style="padding-bottom:10px;">
      @if (loading) {
        <div class="loading">
          <mat-spinner style="margin:auto;"></mat-spinner>
        </div>
      } @else {
        @if (isLoadingResults) {
          <div class="example-loading-shade">
            @if (isLoadingResults) {
              <mat-spinner></mat-spinner>
            }
          </div>
        }
        <!-- EDISSYUM - NCH01 Amélioration de l'écran d'impression en masse | Ajout && summarySheetMandatory -->
        @if (data.multiple && summarySheetMandatory) {
          <app-maarch-message mode="info" [content]="'lang.summarySheetMandatory' | translate">
          </app-maarch-message>
        }
        <!-- END EDISSYUM - NCH01 -->
        <div style="padding: 10px;">
          <mat-slide-toggle class="primary" [(ngModel)]="summarySheet"
            (change)="$event.checked ? openSummarySheet() : false">{{'lang.attachSummarySheet' | translate}}
          </mat-slide-toggle>
        </div>
        <div style="padding: 10px;">
          <mat-slide-toggle class="primary" [(ngModel)]="withSeparator">{{'lang.generateSeparators' | translate}}
          </mat-slide-toggle>
        </div>
        <div class="printedFolderContainer">
          @if (mainDocumentInformation.format !== null) {
            <mat-expansion-panel hideToggle disabled
              [title]="!mainDocumentInformation.canConvert ? 'Aucune version pdf trouvé!' : ''">
              <mat-expansion-panel-header>
                <mat-panel-title style="color: #3A7C00;font-weight: bold;">
                  <mat-checkbox class="primary" [(ngModel)]="mainDocument"
                    [disabled]="!mainDocumentInformation.canConvert && !data.multiple" disableRipple>{{'lang.mainDocument' | translate}}
                  </mat-checkbox>
                </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
          }
          @for (keyVal of printedFolderElement | keyvalue; track keyVal) {
            @if (printedFolderElement[keyVal.key].length > 0 || data.multiple) {
              <div class="printedFolderElement">
                <mat-expansion-panel [hideToggle]="data.multiple" [disabled]="data.multiple">
                  <mat-expansion-panel-header>
                    <mat-panel-title style="color: #3A7C00;font-weight: bold;">
                      <mat-checkbox class="primary"
                        (change)="$event ? toggleAllElements($event.checked, keyVal.key) : null"
                        [checked]="selectedPrintedFolderElement[keyVal.key].value.length > 0 && selectedPrintedFolderElement[keyVal.key].value.length === printedFolderElement[keyVal.key].length"
                        [indeterminate]="!data.multiple && selectedPrintedFolderElement[keyVal.key].value.length > 0 && selectedPrintedFolderElement[keyVal.key].value.length !== printedFolderElement[keyVal.key].length"
                        (click)="$event.stopPropagation()" disableRipple>{{'lang.' + keyVal.key | translate}}
                      </mat-checkbox>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  @if (!data.multiple) {
                    <mat-selection-list [formControl]="selectedPrintedFolderElement[keyVal.key]"
                      class="printedFolderElement-content primary">
                      @for (element of printedFolderElement[keyVal.key]; track element) {
                        <mat-list-option class="printedFolderElement-option"
                          [title]="!element.canConvert ? 'Aucune version pdf trouvé!' : ''"
                          [class.disabled]="!element.canConvert" checkboxPosition="before"
                          [disabled]="!element.canConvert" [value]="element.id">
                          <div class="printedFolderElement-item {{keyVal.key}}">
                            @if (!functions.empty(element.chronoMaster)) {
                              <div class="primary" style="flex:1;font-size: 80%;padding-right: 10px;"
                                >
                                {{element.chronoMaster}}
                              </div>
                            }
                            @if (!functions.empty(element.chrono)) {
                              <div class="primary" style="flex:1;font-size: 80%;padding-right: 10px;"
                                >
                                {{element.chrono}}
                              </div>
                            }
                            @if (!functions.empty(element.recipients)) {
                              <div class="primary" [title]="element.recipients"
                                style="flex:1;display: flex;font-size: 80%;white-space: pre;padding-right: 10px;"
                                >
                                {{'lang.for' | translate | ucfirst}} : {{element.recipients}}
                              </div>
                            }
                            @if (!functions.empty(element.creator)) {
                              <div class="primary" [title]="element.creator"
                                style="flex:1;font-size: 80%;padding-right: 10px;">
                                {{element.creator}}
                              </div>
                            }
                            <div style="flex:2;padding-right: 10px;" [title]="element.label"
                              [innerHTML]="element.label | shorten: 150: '...'">
                            </div>
                            @if (!functions.empty(element.type)) {
                              <div class="primary"
                                style="flex:1;font-size: 80%;white-space: pre;padding-right: 10px;">
                                {{element.type}}
                              </div>
                            }
                            @if (!functions.empty(element.status)) {
                              <div>
                                @if (element.status === 'SIGN') {
                                  <div style="color: green">
                                    {{'lang.attachment_' + element.status | translate}}
                                  </div>
                                }
                              </div>
                            }
                            <div class="primary" [title]="element.creationDate | fullDate"
                              style="flex:1;justify-content: flex-end;display: flex;font-size: 80%;">
                              {{element.creationDate | date : "dd/MM/y HH:mm"}}
                            </div>
                          </div>
                        </mat-list-option>
                      }
                    </mat-selection-list>
                  }
                </mat-expansion-panel>
              </div>
            }
          }
        </div>
      }
    </mat-dialog-content>
    <span class="divider-modal"></span>
    <div mat-dialog-actions class="actions">
      <!-- EDISSYUM - NCH01 Amélioration de l'écran d'impression en masse || Ajout && summarySheetMandatory dans [disabled]-->
      <button mat-raised-button class="primary" [disabled]="isLoadingResults || isEmptySelection() || (!summarySheet && data.multiple && summarySheetMandatory)"
      (click)="onSubmit()">{{'lang.validate' | translate}}</button>
    </div>
  </div>
