<div class="userBaskets col-sm-6">
  <mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon class="primary">
        <!-- EDISSYUM - NCH01 Fix pour ne pas que la case "Tout selectionner" soit cochée si elle ne doit pas l'être -->
        <!-- Changer [checked]="selectionBaskets.hasValue()" par [checked]="allSelected()" -->
        <mat-checkbox class="primary"
          (change)="$event ? masterToggleBaskets($event) : null"
          [checked]="allSelected()"
        matTooltip="{{'lang.selectAll' | translate}}"></mat-checkbox>
      </mat-icon>
      <p mat-line>
        @if (!selectionBaskets.hasValue()) {
          <span id="selectAll">
            {{'lang.selectAll' | translate}}
          </span>
        }
        @if (selectionBaskets.hasValue()) {
          <app-plugin-autocomplete
            [labelPlaceholder]="'lang.redirectBaskets' | translate"
            [routeDatas]="['/rest/autocomplete/users']"
            [targetSearchKey]="'idToDisplay'"
            [subInfoKey]="'descriptionToDisplay'"
            [disableItems]="[headerService.user.id]"
            (triggerEvent)="addBasketRedirection($event)"
          appearance="outline"></app-plugin-autocomplete>
        }
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    @for (basket of userBaskets; track basket; let i = $index) {
      @if (basket.userToDisplay == null) {
        <mat-list-item
          (mouseover)="showActions(basket)" (mouseout)="hideActions(basket)"
          style="cursor: pointer;">
          @if (basket.enabled) {
            <mat-icon  mat-list-icon class="primary">
              <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? selectionBaskets.toggle(basket) : null"
                [checked]="selectionBaskets.isSelected(basket)"
                class="primary">
              </mat-checkbox>
            </mat-icon>
          }
          <h4 id="selectionBasket" mat-line class="primary">
            <span (click)="selectionBaskets.toggle(basket);"
              matTooltip="{{basket.basket_name}} [{{basket.group_desc}}]"
              style="flex: 2;overflow: hidden;text-overflow: ellipsis;">
              {{basket.basket_name}}
              <span class="label label-primary"
              style="font-weight:normal">{{basket.group_desc}}</span>
            </span>
          </h4>
        </mat-list-item>
      }
    }
  </mat-list>
</div>
<div class="redirectedBaskets col-sm-6">
  <mat-tab-group>
    <mat-tab label="{{'lang.redirectedBaskets' | translate}}">
      <mat-list>
        @for (basket of redirectedBaskets; track basket; let i = $index) {
          <mat-list-item>
            <mat-icon mat-list-icon class="paper-plane fa fa-paper-plane" style="color: #3A7C00">
            </mat-icon>
            <h4 mat-line class="primary">{{basket.basket_name}}
              <span class="label label-primary"
              style="font-weight:normal">{{basket.group_desc}}</span>
            </h4>
            <p mat-line>
              <mat-form-field>
                <input type="text" class="warn" matInput disabled
                  value="{{'lang.redirectedTo' | translate}} {{basket.userToDisplay}}">
                <button mat-button class="warn" matSuffix
                  mat-icon-button aria-label="Clear"
                  (click)="delBasketRedirection(basket,i)"
                  matTooltip="{{'lang.deleteRedirection' | translate}}">
                  <mat-icon style="color:#8e3e52"
                  class="fa fa-times text-danger"></mat-icon>
                </button>
              </mat-form-field>
            </p>
          </mat-list-item>
        }
      </mat-list>
    </mat-tab>
  </mat-tab-group>

  <mat-tab-group>
    <mat-tab label="{{'lang.assignedBaskets' | translate}}">
      <mat-list>
        @for (basket of assignedBaskets; track basket; let i = $index) {
          <mat-list-item>
            <mat-icon mat-list-icon
              style="margin-top:-60px;color: #3A7C00" class="fa fa-reply">
            </mat-icon>
            <h4 mat-line class="primary" (click)="basket.redirectMode=false">{{basket.basket_name}}
              <span class="label label-primary"
              style="font-weight:normal">{{basket.group_desc}}</span>
            </h4>
            <p mat-line>
              @if (basket.redirectMode) {
                <app-plugin-autocomplete
                  [labelPlaceholder]="('lang.redirectBasket' | translate) + ': '+basket.basket_name"
                  [routeDatas]="['/rest/autocomplete/users']"
                  [targetSearchKey]="'idToDisplay'"
                  [subInfoKey]="'descriptionToDisplay'"
                  [disableItems]="[headerService.user.id]"
                  (triggerEvent)="reassignBasketRedirection($event,basket,i)"
                appearance="outline"></app-plugin-autocomplete>
              }
              @if (!basket.redirectMode) {
                <mat-form-field>
                  <input type="text" class="warn" matInput disabled
                    value="{{'lang.assignBy' | translate}} {{basket.userToDisplay}}">
                  <button mat-button class="warn" matSuffix
                    mat-icon-button aria-label="Clear"
                    (click)="basket.redirectMode=true"
                    matTooltip="{{'lang.reassign' | translate}}">
                    <mat-icon style="color: #3A7C00" class="fa fa-edit">
                    </mat-icon>
                  </button>
                  <button mat-button class="warn" matSuffix
                    mat-icon-button aria-label="Clear"
                    (click)="delBasketAssignRedirection(basket,i)"
                    matTooltip="{{'lang.deleteAssignation' | translate}}">
                    <mat-icon style="color:#8e3e52"
                    class="fa fa-times text-danger"></mat-icon>
                  </button>
                </mat-form-field>
              }
            </p>
          </mat-list-item>
        }
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</div>
<div style="clear:both;"></div>