<form>
  <input type="hidden" [formControl]="controlAutocomplete">
  @if ((!controlAutocomplete.disabled && !singleMode) || (singleMode && controlAutocomplete.value.length === 0 && !controlAutocomplete.disabled)) {
    <mat-form-field floatLabel="never" class="input-form"
      >
      <mat-icon class="fa fa-search" matPrefix style="padding-left: 20px;font-size: 15px; color: #3A7C00"></mat-icon>
      <input [id]="id" type="text" #autoCompleteInput [placeholder]="'lang.searchContact' | translate" matInput [formControl]="myControl"
        [matAutocomplete]="auto" (click)="$event.stopPropagation();noResultFound = null;" maxlength="128">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectOpt($event)">
        @if (options?.length > 0 && !loading) {
          @for (option of filteredOptions | async; track option) {
            <mat-option [id]="id + '-' + option.id" [value]="option">
              <mat-card>
                <mat-card-header class="contact-header">
                  <div mat-card-avatar class="contact-header-image fa"
                    [class.fa-address-card]="option.type === 'contact'"
                    [class.fa-users]="option.type ==='contactGroup'"
                    [class.fa-sitemap]="option.type ==='entity'" [class.fa-user]="option.type ==='user'"
                    [title]="'lang.contact_' + option.type | translate">
                  </div>
                  @if (!empty(option.firstname) || !empty(option.lastname)) {
                    <mat-card-title
                      [title]="option.civility.label + ' ' + option.firstname + ' ' + option.lastname">
                      @if (!empty(option.civility.abbreviation)) {
                        <sup style="color: #666;">{{option.civility.abbreviation}}&nbsp;</sup>
                        }{{option.firstname}}
                      {{option.lastname}}</mat-card-title>
                    }
                    @if (empty(option.firstname) && empty(option.lastname)) {
                      <mat-card-title
                      [title]="option.company">{{option.company}}</mat-card-title>
                    }
                    @if (!empty(option.function)) {
                      <mat-card-subtitle [title]="option.function">
                        {{option.function}}&nbsp;
                      </mat-card-subtitle>
                    }
                    @if (option.type === 'contact' && !empty(option.fillingRate.rate)) {
                      <i class="contact-filling fa fa-circle"
                      [title]="('lang.contactsFillingRate' | translate) + ' : ' + option.fillingRate.rate + '%'" [style.color]="option.fillingRate.color"></i>
                    }
                  </mat-card-header>
                  <mat-card-content>
                    <mat-list>
                      @if ((!empty(option.firstname) || !empty(option.lastname)) && !empty(option.company)) {
                        <mat-list-item class="contact-item"
                          >
                          <mat-icon mat-list-icon class="contact-group far fa-building"
                          [title]="'lang.contactsParameters_company' | translate"></mat-icon>
                          <p mat-line class="contact-content" [title]="option.company"> {{option.company}}
                          </p>
                        </mat-list-item>
                      }
                      @if (!empty(option.department)) {
                        <mat-list-item class="contact-item">
                          <mat-icon mat-list-icon class="contact-group fa fa-sitemap"
                          [title]="'lang.contactsParameters_department' | translate"></mat-icon>
                          <p mat-line class="contact-content" [title]="option.department">
                          {{option.department}} </p>
                          @if (!empty(option.addressAdditional1)) {
                            <p mat-line class="contact-content"
                            [title]="option.addressAdditional1"> ({{option.addressAdditional1}}) </p>
                          }
                        </mat-list-item>
                      }
                      @if (!empty(option.email)) {
                        <mat-list-item class="contact-item">
                          <mat-icon mat-list-icon class="contact-group far fa-envelope" [title]="'lang.email' | translate">
                          </mat-icon>
                          <p mat-line class="contact-content" [title]="option.email"> {{option.email}} </p>
                        </mat-list-item>
                      }
                      @if (!empty(option.phone)) {
                        <mat-list-item class="contact-item">
                          <mat-icon mat-list-icon class="contact-group fas fa-phone"
                            [title]="'lang.phoneNumber' | translate">
                          </mat-icon>
                          <p mat-line class="contact-content" [title]="option.phone"> {{option.phone}} </p>
                        </mat-list-item>
                      }
                      @if (!empty(option.addressNumber) || !empty(option.addressStreet) || !empty(option.addressAdditional2) || !empty(option.addressPostcode) || !empty(option.addressTown) || !empty(option.addressCountry)) {
                        <mat-list-item class="contact-address" [title]="'lang.address' | translate"
                          >
                          <mat-icon mat-list-icon class="contact-group fas fa-map-marker-alt"></mat-icon>
                          @if (!empty(option.addressNumber) || !empty(option.addressStreet)) {
                            <p mat-line class="contact-content"
                              [title]="option.addressStreet">
                            {{option.addressNumber}} {{option.addressStreet}} </p>
                          }
                          @if (!empty(option.addressAdditional2)) {
                            <p mat-line class="contact-content"
                            [title]="option.addressAdditional2"> ({{option.addressAdditional2}}) </p>
                          }
                          @if (!empty(option.addressPostcode) || !empty(option.addressTown)) {
                            <p mat-line class="contact-content"
                              [title]="option.addressPostcode + ' ' + option.addressTown">
                              {{option.addressPostcode}}
                            {{option.addressTown}} </p>
                          }
                          @if (!empty(option.addressCountry)) {
                            <p mat-line class="contact-content"
                            [title]="option.addressCountry"> {{option.addressCountry}} </p>
                          }
                          @if (!empty(option.sector)) {
                            <p mat-line class="contact-content"
                            [title]="option.sector"> {{option.sector}} </p>
                          }
                        </mat-list-item>
                      }
                      @if (!empty(option.notes)) {
                        <mat-list-item class="contact-item">
                          <mat-icon mat-list-icon class="contact-group far fa-sticky-note" [title]="'lang.note' | translate">
                          </mat-icon>
                          <p mat-line class="contact-content" [title]="option.notes"> {{option.notes}} </p>
                        </mat-list-item>
                      }
                      @for (customField of option.customFields; track customField) {
                        @if (customField.value !== null) {
                          <mat-list-item class="contact-item">
                            <mat-icon mat-list-icon class="contact-group fas fa-hashtag"
                              [title]="customField.label">
                            </mat-icon>
                            <p mat-line class="contact-content" [title]="customField.value">
                            {{customField.value}} </p>
                          </mat-list-item>
                        }
                      }
                    </mat-list>
                  </mat-card-content>
                </mat-card>
              </mat-option>
            }
          }
          @if (options?.length === 0 && !loading) {
            <mat-option class="autoCompleteInfoResult smallInputInfo" disabled
              [innerHTML]="listInfo">
            </mat-option>
          }
          @if (loading) {
            <mat-option disabled style="text-align: center;display: block;padding: 10px;">
              <mat-spinner diameter="20"></mat-spinner>
            </mat-option>
          }
          @if (canAdd && (noResultFound !== null || options?.length > 0) && !loading && !fromExternalWorkflow) {
            <div class="autoCompleteInfoResult smallInputInfo create-contact"
              disabled>
              <button class="link-button" (click)="$event.stopPropagation();openContact()">
                <mat-icon matSuffix class="fas fa-plus-circle" style="padding-top: 5px"></mat-icon>
                {{'lang.createContact' | translate}}
              </button>
            </div>
          }
        </mat-autocomplete>
      </mat-form-field>
    }
    @if (controlAutocomplete.value.length >= 2 && !controlAutocomplete.disabled && !inputMode) {
      <div style="text-align: right;">
        <button mat-button class="warn" (click)="resetAll()" style="font-size: 10px;">{{'lang.deleteAll' | translate}}</button>
      </div>
    }
    @if (!inputMode) {
      <div class="itemList">
        @if (controlAutocomplete.value.length > 0) {
          <mat-chip-list class="mat-chip-list-stacked itemChip"
            >
            @if (!loadingValues) {
              @for (item of controlAutocomplete.value; track item; let i = $index) {
                <mat-chip class="listAutocomplete"
                  [removable]="!controlAutocomplete.disabled" (removed)="removeItem(i)"
                  (click)="openContact(item)">
                  <div style="margin-right: auto;">
                    <span style="display: flex;flex: 1;align-items: center;" class="userInfos">
                      <!-- EDISSYUM - NCH01 Rajout de la possibilité de link un groupement de correspondants dans un autre | Ajout ligne class.Fa-atlas -->
                      <i class="fa" [class.fa-address-card]="this.valuesToDisplay[item.type][item.id].type === 'contact'"
                        [class.fa-sitemap]="this.valuesToDisplay[item.type][item.id].type ==='entity'"
                        [class.fa-user]="this.valuesToDisplay[item.type][item.id].type ==='user'"
                        [class.fa-atlas]="this.valuesToDisplay[item.type][item.id].type ==='contactGroup'"
                      [title]="'lang.' + this.valuesToDisplay[item.type][item.id].type | translate" style="padding-right:5px;"></i>
                      @if (!empty(this.valuesToDisplay[item.type][item.id].firstname)) {
                        {{this.valuesToDisplay[item.type][item.id].firstname}}
                      }
                      {{this.valuesToDisplay[item.type][item.id].lastname}} @if (!empty(this.valuesToDisplay[item.type][item.id].company)) {
                      ({{this.valuesToDisplay[item.type][item.id].company}})
                    }
                  </span>
                  @if (!empty(this.valuesToDisplay[item.type][item.id].sector)) {
                    <span class="sector">
                      {{'lang.contactsParameters_sector' | translate}} : {{this.valuesToDisplay[item.type][item.id].sector}}
                    </span>
                  }
                </div>
                @if (!functions.empty(valuesToDisplay[item.type][item.id].fillingRate.color)) {
                  <i class="fa fa-circle" [style.color]="valuesToDisplay[item.type][item.id].fillingRate.color" style="font-size: 9px;"></i>
                }
                @if (!controlAutocomplete.disabled) {
                  <mat-icon matChipRemove class="fa fa-times"></mat-icon>
                }
                @if (valuesToDisplay[item.type][item.id].status === 'TMP') {
                  <mat-icon
                    (click)="openContact(item, true)" class="fa fa-warning"
                    style="color: var(--maarch-color-secondary); cursor: pointer; font-size: 20px; position: absolute; right: -2.5rem; margin-top: 1.4rem"
                  [matTooltip]="'lang.tmpContact' | translate"></mat-icon>
                  } <!-- EDISSYUM - NCH01 Module OCForMEM NextGen -->
                  @if (valuesToDisplay[item.type][item.id].externalId && valuesToDisplay[item.type][item.id].externalId['ia_tmp_contact_id'] && this.externalId && this.externalId['ia_tmp_contact_id'] && this.externalId['ia_tmp_contact_id'] === valuesToDisplay[item.type][item.id].externalId['ia_tmp_contact_id']) {
                    <mat-icon
                      class="fa fa-warning" style="color: var(--maarch-color-secondary); cursor: pointer; font-size: 20px; position: absolute; right: -2.5rem; margin-top: 1.4rem"
                    [matTooltip]="'lang.tmpContact' | translate"></mat-icon>
                    } <!-- EDISSYUM - NCH01 Module OCForMEM NextGen -->
                  </mat-chip>
                }
              }
            </mat-chip-list>
          }
          @if (controlAutocomplete.value.length === 0) {
            <div class="noResult">
              {{'lang.noSelectedContact' | translate}}
            </div>
          }
        </div>
      }
    </form>
