<form>
  <input type="hidden" [formControl]="controlAutocomplete">
  @if (!controlAutocomplete.disabled) {
    <mat-form-field floatLabel="never" class="input-form depList">
      <button mat-button matPrefix [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()" [disabled]="adminMode">
        {{addressBANCurrentDepartment}} <i class="fas fa-angle-down"></i>
      </button>
      <mat-menu #menu="matMenu">
        @for (dep of departmentList; track dep) {
          <button mat-menu-item (click)="addressBANCurrentDepartment = dep">
            <span>{{dep}}</span>
          </button>
        }
      </mat-menu>
      <input type="text" #autoCompleteInput [placeholder]="'lang.searchAddressBan' | translate" matInput [formControl]="myControl"
        [matAutocomplete]="auto" (click)="$event.stopPropagation()" (focus)="resetAutocomplete()">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectOpt($event)">
        @if (addressSectorResult.length > 0 && !loading) {
          <mat-label class="title-ban">{{'lang.labelSectors' | translate | uppercase}}</mat-label>
          @for (addressSectorResult of addressSectorFilteredResult | async | sortBy: key; track addressSectorResult) {
            <mat-option class="addressSector"
              [value]="addressSectorResult"
              [title]="addressSectorResult[key]"
              [value]="addressSectorResult">
              {{addressSectorResult.address}}
            </mat-option>
          }
        }
        @if (options.length > 0 && !loading) {
          <mat-label class="title-ban">{{'lang.labelBAN' | translate | uppercase}}</mat-label>
          @for (option of filteredOptions | async | sortBy: key; track option) {
            <mat-option [value]="option"
              [title]="option[key]">
              <span >{{option[key]}}</span>
            </mat-option>
          }
        }
        @if (options.length === 0 && !loading) {
          <mat-option class="autoCompleteInfoResult smallInputInfo" disabled
            [innerHTML]="listInfo">
          </mat-option>
        }
        @if (loading) {
          <mat-option disabled>
            <mat-spinner diameter="20"></mat-spinner>
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  }
  <div class="itemList">
    @if (controlAutocomplete.value.length > 0) {
      <mat-chip-list class="mat-chip-list-stacked itemChip"
        >
        @for (item of controlAutocomplete.value; track item; let i = $index) {
          <mat-chip class="activeListAutocomplete"
            style="height:auto;" [removable]="!controlAutocomplete.disabled"
            (removed)="removeItem(i)">
            <div>
              <span style="display: flex;flex: 1;align-items: center;cursor: pointer;"
                [title]="this.valuesToDisplay[item.id]" (click)="goTo(item)">
                {{this.valuesToDisplay[item.id]}}
              </span>
              @if (!functions.empty(controlAutocomplete.value[0].sector)) {
                <span class="sector"
                  [title]="this.valuesToDisplay[item.id]">
                  {{'lang.contactsParameters_sector' | translate}} : {{controlAutocomplete.value[0].sector}}
                </span>
              }
            </div>
            @if (!controlAutocomplete.disabled) {
              <mat-icon matChipRemove class="fa fa-times"></mat-icon>
            }
          </mat-chip>
        }
      </mat-chip-list>
    }
    @if (controlAutocomplete.value.length === 0) {
      <div class="noResult">
        {{'lang.noSelectedAddress' | translate}}
      </div>
    }
  </div>
</form>
