<div class="book-footer-actions">
  @if (loading) {
    <div>
      <mat-spinner class="spinner-white" diameter="50" aria-hidden="true"></mat-spinner>
    </div>
  }
  @if (!loading) {
    @if (!functions.empty(selectedValidationAction)) {
      <button
        tabindex="1"
        mat-stroked-button
        class="action-button action-button-valid"
        [attr.aria-label]="selectedValidationAction.label"
        [title]="selectedValidationAction.label"
        (click)="$event.stopPropagation(); processAction(selectedValidationAction)"
        >
        <div class="action-button-button-label" [title]="selectedValidationAction.label">
          <mat-icon class="fa fa-thumbs-up" aria-hidden="true"></mat-icon>
          <span>
            {{ selectedValidationAction.label | shorten: 45: '...' }}
          </span>
        </div>
      </button>
    }
    @if (validationActions.length > 1) {
      <button
        #menuTrigger="matMenuTrigger"
        aria-haspopup="menu"
        tabindex="2"
        mat-icon-button
        class="more-actions more-actions-valid"
        [matMenuTriggerFor]="menuValidationActions"
        [title]="'lang.moreActions' | translate"
        [attr.aria-label]="'lang.moreActions' | translate"
        (click)="$event.stopPropagation()"
        (mousedown)="$event.preventDefault()"
        >
        <mat-icon class="fa fa-chevron-up" aria-hidden="true"></mat-icon>
      </button>
      <mat-menu #menuValidationActions="matMenu" yPosition="above">
        @for (action of validationActions; track action; let i = $index) {
          @if (action.id !== selectedValidationAction.id) {
            <button
              class="more-actions-valid-item"
              mat-menu-item
              [title]="action.label"
              [attr.aria-label]="action.label"
              (click)="$event.stopPropagation(); selectedValidationAction = action; menuTrigger.closeMenu()">
              {{ action.label }}
            </button>
          }
        }
      </mat-menu>
    }
    @if (!functions.empty(selectedRefusalAction)) {
      <button
        tabindex="3"
        class="action-button action-button-reject"
        mat-stroked-button
        [attr.aria-label]="selectedRefusalAction.label"
        [title]="selectedRefusalAction.label"
        (click)="processAction(selectedRefusalAction)"
        >
        <div class="action-button-button-label" [title]="selectedRefusalAction.label">
          <mat-icon class="fa fa-thumbs-down" aria-hidden="true"></mat-icon>
          <span>
            {{ selectedRefusalAction.label | shorten: 45: '...' }}
          </span>
        </div>
      </button>
    }
    @if (refusalActions.length > 1) {
      <button
        #menuTrigger="matMenuTrigger"
        aria-haspopup="menu"
        tabindex="4"
        mat-icon-button
        class="more-actions more-actions-reject"
        [matMenuTriggerFor]="menuRefusalActions"
        [title]="'lang.moreActions' | translate"
        [attr.aria-label]="'lang.moreActions' | translate"
        (click)="$event.stopPropagation()"
        (mousedown)="$event.preventDefault()"
        >
        <mat-icon class="fa fa-chevron-up" aria-hidden="true"></mat-icon>
      </button>
      <mat-menu #menuRefusalActions="matMenu" yPosition="above">
        @for (action of refusalActions; track action; let i = $index) {
          @if (action.id !== selectedRefusalAction.id) {
            <button
              mat-menu-item
              class="more-actions-reject-item"
              [title]="action.label"
              [attr.aria-label]="action.label"
              (click)="$event.stopPropagation(); selectedRefusalAction = action; menuTrigger.closeMenu()">
              {{ action.label }}
            </button>
          }
        }
      </mat-menu>
    }
  }
</div>
@if (!functions.empty(signatureBookService.selectedDocToSign.attachment)) {
  <div class="book-footer-stamps">
    @if (userStamp === undefined) {
      <div>
        <mat-spinner class="spinner-white" diameter="50" aria-hidden="true"></mat-spinner>
      </div>
    }
    @if (userStamp !== undefined) {
      <div class="sign-button-container">
        @if (canShowStamps()) {
          @if (userStamp?.contentUrl) {
            <button
              tabindex="5"
              mat-button
              class="sign-button"
              [title]="'lang.applyStamp' | translate"
              [style.backgroundImage]="'url(' + (userStamp?.contentUrl | secureUrl | async) + ')'"
              (click)="signWithStamp(userStamp)"
            ></button>
          }
          @if (userStamp !== undefined) {
            <button mat-button
              tabindex="6"
              class="open-sign-list-button"
              [title]="'lang.displayStampsList' | translate"
              (click)="openSignaturesList()">
              <mat-icon class="fa fa-angle-right" aria-hidden="true"></mat-icon>
            </button>
          }
        }
        @if (!canShowStamps()) {
          <div class="sign-button-not-allowed" [title]="'lang.stampIsDisabled' | translate">
            <i class="fa-solid fa-ban"></i>
          </div>
        }
      </div>
    }
  </div>
}
