<div class="mat-dialog-content-container lang-container">
  <h1 mat-dialog-title>Lang checking</h1>
  <div mat-dialog-content>
    <mat-tab-group (selectedTabChange)="setActiveLang($event)">
      @for (langName of allLang | keyvalue; track langName) {
        @if (langName.key !== 'fr') {
          <mat-tab [label]="langName.key">
            <ng-template mat-tab-label>
              {{langName.key}}&nbsp;<p [matBadge]="missingLang[langName.key].length">&nbsp;</p>
            </ng-template>
            <div style="display: grid;">
              @for (lang of missingLang[langName.key]; track lang) {
                <mat-form-field appearance="fill">
                  <mat-label>{{lang.id}}</mat-label>
                  <input matInput #toto [(ngModel)]="lang.value">
                  <button mat-button matSuffix mat-icon-button style="color: #3A7C00" (click)="toto.select();openTranslation(lang.value)">
                    <mat-icon class="fas fa-language"></mat-icon>
                  </button>
                </mat-form-field>
              }
            </div>
          </mat-tab>
        }
      }
    </mat-tab-group>
  </div>
  <span class="divider-modal"></span>
  <div mat-dialog-actions>
    <button mat-raised-button class="actions primary" (click)="generateMissingLang(false)">Generate lang variables</button>
    <button mat-raised-button class="actions primary" (click)="generateMissingLang(true)">Generate lang variables (IGNORE __TO_TRANSLATE)</button>
    <button mat-raised-button class="actions"  mat-dialog-close cdkFocusInitial>Close</button>
  </div>
</div>