@if (!loading) {
  @for (visaWorkflow of visaWorkflowHistory; track visaWorkflow) {
    <mat-list>
      <div class="dateTitle">
        <div mat-subheader class="primary" [title]="visaWorkflow.creationDate | fullDate">
          {{'lang.createdBy' | translate }}&nbsp;<b>{{visaWorkflow.user}}</b> &nbsp;<b>{{visaWorkflow.creationDate | timeAgo : 'full'}}</b>
        </div>
        <mat-divider></mat-divider>
      </div>
      @for (diffusion of visaWorkflow.details; track diffusion; let i = $index) {
        <mat-list-item disableRipple class="workflow">
          <mat-icon class="fa fa-2x fa-user" mat-list-icon style="color: #3A7C00">
          </mat-icon>
          <div mat-line class="workflowLine">
            <div class="workflowLineContainer">
              <div class="workflowLineLabel" [title]="diffusion.itemLabel">
                {{diffusion.itemLabel}}
              </div>
              <div class="workflowLineSubLabel">
                {{diffusion.itemSubLabel}}
              </div>
            </div>
            <div>
              <button class="currentRoleButton primary" disabled mat-raised-button
                title="{{diffusion.process_date === null ? (diffusion.requested_signature ? ('lang.signUser' | translate) : ('lang.visaUser' | translate)) : (diffusion.signatory ? ('lang.signUser' | translate) : ('lang.visaUser' | translate))}}">
                {{diffusion.process_date === null ? (diffusion.requested_signature ? ('lang.signUser' | translate) : ('lang.visaUser' | translate)) : (diffusion.signatory ? ('lang.signUser' | translate) : ('lang.visaUser' | translate))}}
              </button>
            </div>
          </div>
        </mat-list-item>
      }
    </mat-list>
  }
}
@if (loading) {
  <div style="display:flex;padding: 10px;">
    <mat-spinner style="margin:auto;"></mat-spinner>
  </div>
}
