@if (resources.length > 0) {
  @if (tile.parameters.chartType==='pie' && formatedData !== null) {
    <ngx-charts-pie-chart
      [class.link]="route !== null"
      (click)="route !== null ? goTo(): false"
      [results]="resources"
      [legend]="false"
      [labels]="true">
    </ngx-charts-pie-chart>
  }
  @if (tile.parameters.chartType==='vertical-bar' && formatedData !== null) {
    <ngx-charts-bar-vertical
      [class.link]="route !== null"
      (click)="route !== null ? goTo(): false"
      [results]="formatedData"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true">
    </ngx-charts-bar-vertical>
  }
  @if (tile.parameters.chartType==='line' && formatedData !== null) {
    <ngx-charts-line-chart
      [class.link]="route !== null"
      (click)="route !== null ? goTo(): false"
      [results]="formatedData"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true">
    </ngx-charts-line-chart>
  }
  <i class="{{icon}} tile-icon primary"></i>
} @else {
  <div class="empty-data">
    {{'lang.noDataAvailable' | translate}}
  </div>
}
