<div class="mat-dialog-content-container">
  <h1 mat-dialog-title>{{'lang.contacts' | translate}}</h1>
  <div mat-dialog-content style="margin: 5px;">
    @if (loading) {
      <div class="loading" style="display:flex;height:100%;">
        <mat-spinner style="margin:auto;"></mat-spinner>
      </div>
    }
    @if (!loading) {
      @for (contact of contactResult; track contact) {
        @if (!loading) {
          <div class="row rowData">
            <div class="col-md-4">
              <b>{{contactService.formatContact(contact)}}</b>
            </div>
            <div class="col-md-6" style="margin-left: auto;">
              @if (!functions.empty(formatContactAdress(contact))) {
                <span>
                  {{formatContactAdress(contact)}}
                </span>
              }
              @if (functions.empty(formatContactAdress(contact))) {
                <span style="color: gray; font-style: italic;">
                  {{'lang.emptyAddress' | translate}}
                </span>
              }
            </div>
            <div class="col-md-2" style="margin-left: auto;">
              <mat-icon class="fas fa-id-card" (click)="selectContact(contact.id)"
                style="font-size: 20px; cursor: pointer; color: #3A7C00" [title]="!data.fromAdministration ? ('lang.associateContactToDoc' | translate) : ('lang.setContactInfos' | translate)">
              </mat-icon>
            </div>
          </div>
        }
        <span class="divider-modal"></span>
      }
    }
  </div>
  <span class="divider-modal"></span>
  <div mat-dialog-actions class="actions">
    <button mat-raised-button mat-button [disabled]="loading" [mat-dialog-close]="">{{'lang.cancel' | translate}}</button>
  </div>
</div>