<div class="col-md-12">
  @if (!externalSignatoryBookManagerService.canAttachSummarySheet(appExternalVisaWorkflow.visaWorkflow.items)) {
    <app-maarch-message
      [content]="'lang.cannotAttachSummarySheet' | translate">
    </app-maarch-message>
  }
  <div class="fieldsetdContainer" style="flex:2">
    <h2>{{'lang.visaWorkflow' | translate}} :</h2>
    <div class="fieldsetdContent">
      <app-external-visa-workflow #appExternalVisaWorkflow
        [adminMode]="true"
        [resId]="resIds.length === 1 ? resIds[0] : null"
        [injectDatas]="injectDatasParam"
        (workflowUpdated)="workflowUpdated.emit($event)">
      </app-external-visa-workflow >
      @if (appExternalVisaWorkflow.getUserOtpsWorkflow().length > 0) {
        <div
          class="alert-message alert-message-danger" role="alert">
          <b>{{appExternalVisaWorkflow.getUserOtpsWorkflow().join(', ')}}</b>
          {{getErrorMessage()}} !
        </div>
      }
    </div>
  </div>
</div>
<div class="col-md-12" style="text-align: right;">
  @if (additionalsInfos.attachments.length === 1 && externalSignatoryBookManagerService.canManageSignaturesPositions()) {
    <button mat-button class="primary" type="button"
    [matMenuTriggerFor]="menu" [disabled]="!isValidParaph()">{{'lang.manageSignaturesPositions' | translate}}</button>
  }
  <mat-menu #menu="matMenu" class="docToSignTemplateMenu">
    @for (resource of resourcesToSign; track resource) {
      <button mat-menu-item (click)="openSignaturePosition(resource)"
        style="font-size:12px;">
        <mat-icon style="height: auto;" class="fas fa-compress-arrows-alt" [class.position]="hasPositions(resource)" [class.noPosition]="!hasPositions(resource)"></mat-icon>
        <span>
          <span class="primary">{{resource.chrono}}</span>&nbsp;- {{resource.title}}
        </span>
      </button>
    }
  </mat-menu>
</div>
@if (additionalsInfos.visaWorkflowError) {
  <div class="col-md-12">
    <div>
      <div class="alert-message alert-message-danger mailList" role="alert">
        <p>
          {{'lang.canNotMakeAction' | translate}} :
        </p>
        <ul>
          @for (visaError of additionalsInfos.visaWorkflowError; track visaError) {
            <li>
              <b>{{visaError.alt_identifier}}</b> : {{'lang.' + visaError.reason | translate}}
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
}
