@if (loading) {
  <div style="display:flex;padding: 10px;">
    <mat-spinner style="margin:auto;"></mat-spinner>
  </div>
}
@if (!loading) {
  <div class="col-md-12">
    <!-- Utilisation du composant PluginSelectSearchComponent -->
    <app-plugin-select-search
      [formControlSelect]="selectDataControl"
      (afterSelected)="circuitSelected($event)"
      [placeholderLabel]="'lang.workflowSesile' | translate"
      [showResetOption]="false"
      [showLabel]="true"
      [required]="true"
      [multiple]="false"
      [disabled]="false"
      [class]="''"
      [datas]="circuits"
      [label]="'lang.workflowSesile' | translate"
    ></app-plugin-select-search>
    <app-plugin-select-search
      [formControlSelect]="selectDataControl2"
      (afterSelected)="typeClasseurSelected($event)"
      [placeholderLabel]="'lang.typesSesile' | translate"
      [showResetOption]="false"
      [showLabel]="true"
      [required]="true"
      [multiple]="false"
      [disabled]="false"
      [class]="''"
      [datas]="typesClasseur"
      [label]="'lang.typesSesile' | translate"
    ></app-plugin-select-search>
  </div>
}