
/*.mat-dialog-title {
  margin: -24px !important;
  margin-bottom: -24px !important;
  margin-bottom: 0 !important;
  background: var(--maarch-color-primary);
  color: white;
  padding: 5px;

  small {
    color: var(--maarch-color-secondary);
  }
}

.mat-dialog-content, .mat-mdc-dialog-content {
  padding-top: 10px !important;
  position: relative;
  max-height: 80vh !important;
}

.mat-dialog-actions, .mat-mdc-dialog-actions, .mat-dialog-title {
  justify-content: center;
  text-align: center;
}*/


.maarch-full-height-modal {
  height: 99%;
  min-height: 99%;

  .mat-dialog-title, .mat-mdc-dialog-title {
    margin: 0;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background: var(--maarch-color-primary);
    color: white !important;
    font-size: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;

    small {
      color: var(--maarch-color-secondary);
    }
  }

  .mat-dialog-content-container, .mat-mdc-dialog-content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .mat-dialog-content, .mat-mdc-dialog-content {
    height: 100% !important;
    min-height: 150px;
    max-height: 100% !important;
    margin: 0px;
    position: relative;
    padding-top: 10px !important;
    padding-bottom: 10px;
    padding-left: 0!important;
    padding-right: 0!important;
  }

  .mat-dialog-container, .mat-mdc-dialog-container {
    font-size:14px !important;
    height: auto !important;
    padding: 0px;
  }

  .mat-dialog-actions, .mat-mdc-dialog-actions {
    margin: 0px;
    padding: 0px;
    justify-content: center;
  }

  .divider-modal {
    flex: 1 1 auto;
  }
}

.maarch-doc-modal {
  min-width: 856px;
  .mat-dialog-content, .mat-mdc-dialog-content {
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}


.maarch-modal {
  height: auto;

  .mat-dialog-title, mat-mdc-dialog-title {
    margin: 0;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background: var(--maarch-color-primary) !important;
    color: white !important;
    font-size: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      flex : 1;
      text-align: center;
    }

    small {
      color: #FFFD94; // EDISSYUM - NCH01 Changement des couleurs de MEM Courrier | Changer var(--maarch-color-secondary) en #FFFD94
      padding-left: 10px; // EDISSYUM - NCH01 Changement des couleurs de MEM Courrier
      }
  }

  .mat-dialog-content-container, .mat-mdc-dialog-content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .mat-dialog-content, .mat-mdc-dialog-content {
    height: 100%;
    min-height: 150px;
    max-height: 100% !important;
    margin: 0px;
    position: relative !important;
    overflow: auto !important;
    padding-top: 10px !important;
    padding-bottom: 10px;
  }

  .mat-dialog-container, .mat-mdc-dialog-container {
    font-size: 14px !important;
    padding: 0px;
    height: auto !important;
  }

  .mat-dialog-actions, .mat-mdc-dialog-actions {
    margin: 0px;
    padding: 0px;
    justify-content: center;
  }

  .divider-modal {
    flex: 1 1 auto;
  }
}

.attachment-modal-container {
  .mat-dialog-title,mat-mdc-dialog-title {
      margin: -24px !important;
      margin-bottom: -24px !important;
      margin-bottom: 0 !important;
      background: var(--maarch-color-primary);
      color: white;
      padding: 5px;

      small {
        color: var(--maarch-color-secondary);
      }
    }

    .mat-dialog-content, .mat-mdc-dialog-content {
      padding-top: 10px !important;
      position: relative;
      max-height: 80vh !important;
    }

    .mat-dialog-actions, .mat-mdc-dialog-actions, .mat-dialog-title, mat-mdc-dialog-title {
      justify-content: center;
      text-align: center;
    }

  .mat-dialog-container, .mat-mdc-dialog-container {
      font-size: 14px !important;
      padding: 0px;
  }
}

.mat-mdc-dialog-title {
    margin: 0 !important;
    padding: 5px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    background: var(--maarch-color-primary) !important;
    color: white !important;
    font-size: 20px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align:center !important;

  small {
    color: #FFFD94 !important;
    padding-left: 10px !important;
  }
}

.mat-checkbox-label {
  font-size: 14px !important;
}