<div appUploadFileDragDrop (fileDropped)="dndUploadFile($event)"
  style="height: 100%;display: flex;flex-direction: column;">
  <div
    style="position: sticky;top: 0px;background:white;z-index: 1;display:flex;justify-content: center;align-items: center;color: #666;padding: 10px;">
    <span>{{'lang.attachments' | translate}}</span>
  </div>
  @if (attachments.length > 0) {
    <div style="display: flex;padding-left: 10px;padding-right: 10px;">
      <button mat-raised-button class="primary" style="flex: 1;border-radius: 20px;" (click)="docToUpload.click()">
        {{'lang.add' | translate}}
      </button>
      <button [disabled]="attachments.length === 0" mat-icon-button [title]="'lang.deleteAll' | translate"
        class="warn" (click)="deleteAttachment()" style="font-size: 20px;">
        <mat-icon class="fas fa-trash-alt">
        </mat-icon>
      </button>
    </div>
    @for (attachment of attachments; track attachment; let i = $index) {
      <div class="attachment-content">
        <mat-icon matRipple class="fa fa-times-circle close-button" [title]="'lang.delete' | translate" style="color:#8e3e52"
          (click)="deleteAttachment(i)">
        </mat-icon>
        <div class="attachment-name" [title]="attachment.file.name">
          <i class="fa fa-paperclip"></i> {{attachment.file.name}}
        </div>
        <app-plugin-select-search [class]="''" appearance="outline" [label]="'lang.type' | translate"
          [formControlSelect]="attachment['type']" [datas]="attachmentsTypes" style="width:100%;" showLabel="true"
          required="true">
        </app-plugin-select-search>
        <mat-form-field appearance="outline">
          <mat-label>{{'lang.subject' | translate}} *</mat-label>
          <input matInput [formControl]="attachment['subject']" maxlength="255">
        </mat-form-field>
      </div>
    }
  } @else {
    <div class="add-area" (click)="docToUpload.click()" [title]="'lang.add' | translate">
      <mat-icon class="fa fa-plus" style="font-size: 60px;height: auto;width: auto;color:#3A7C00">
      </mat-icon>
    </div>
  }
  <input type="file" #docToUpload name="files[]" (change)="uploadTrigger($event)" style="display:none;" multiple>
</div>