@if (!loading) {
  <app-maarch-sb-information [position]="position" [documentData]="documentData"></app-maarch-sb-information>
}
<div class="sbContent-container">
  @if (loading) {
    <div class="loading">
      <mat-spinner style="margin:auto;"></mat-spinner>
    </div>
  }
  <ng-container #myPlugin></ng-container>

  @if (!pluginInstance && documentData && position === 'left' && !loading) {
    <app-document-viewer
      class="doc-viewer-class"
      [editMode]="false"
      [resId]="documentData.resId"
      [mode]="documentType === 'attachments' ? 'attachment' : 'mainDocument'"
      [title]="documentData?.chrono ? documentData.chrono + ' - ' + documentData.title : documentData.title">
    </app-document-viewer>
  }

  @if (!documentData && !loading) {
    <div class="empty-doc">
      @if (position === 'right') {
        <i class="fa-solid fa-file-signature"></i>
        <div>{{ 'lang.noDocumentToSign' | translate }}</div>
      }
      @if (position === 'left') {
        <i class="far fa-times-circle"></i>
        <div>{{'lang.noAnnex' | translate}}
        </div>
      }
    </div>
  }
</div>
