:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor-container {
  flex: 1;
}

.save-modifications  {
  position: absolute;
  bottom: 120px;
  right: 120px;
}

.loading {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffffb3;
  z-index: 2;
  overflow: hidden;
}