<mat-expansion-panel class="FilterContainer" expanded>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <i class="fas fa-filter panelIconMenu"></i>&nbsp;{{'lang.filterBy' | translate}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  @for (filterKey of filters | keyvalue; track filterKey) {
    <mat-selection-list #filterList class="filter-list">
      @if (getRealCount(filterKey.key) > 0) {
        <div class="catGroupTitle">{{'lang.'+filterKey.key | translate}} ({{getRealCount(filterKey.key)}})</div>
        <mat-divider style="width: 80%;"></mat-divider>
      }
      @for (cat of getFiltersNotEmpty(filterKey.key); track cat; let i = $index) {
        @if (cat.count > 0 || (cat.count === 0 && cat.selected)) {
          @if (i < 5 || filters[filterKey.key]['expand']) {
            <mat-list-option class="primary catContent" (click)="toggleFilter(filterKey.key,i)" [selected]="cat.selected" checkboxPosition="before" [disabled]="isLoadingResults">
              <span class="catLabel" [title]="cat.label">{{cat.id !== null ? cat.label : 'lang.undefined' | translate}}</span><span class="catBadge" [class.noRes]="cat.count === 0">{{cat.count}}</span>
            </mat-list-option>
          }
        }
      }
      @if (getRealCount(filterKey.key) > 5) {
        <button mat-button style="width:100%;" class="primary" (click)="toggleDisplay(filterKey.key)">{{filters[filterKey.key]['expand'] ?  ('lang.less' | translate) : ('lang.more' | translate) }}<mat-icon style="height:auto;" class="fas" [class.fa-chevron-down]="!filters[filterKey.key]['expand']" [class.fa-chevron-up]="filters[filterKey.key]['expand']"></mat-icon></button>
      }
    </mat-selection-list>
  }
</mat-expansion-panel>
