<div class="mat-dialog-content-container">
  <h1 mat-dialog-title>
    <span style="flex: 1;">
      {{functions.empty(reference) ? ('lang.sendNumericPackage' | translate) : reference}}
    </span>
    <button [title]="'lang.close' | translate" mat-icon-button (click)="closeModal()">
      <mat-icon class="fa fa-times"></mat-icon>
    </button></h1>
    <mat-dialog-content class="modal-container">
      @if (loading) {
        <div class="loading">
          <mat-spinner style="margin:auto;"></mat-spinner>
        </div>
      }
      @if (canManageMail()) {
        <div class="alert-message alert-message-info"
        [innerHTML]="'lang.sendNumericPackageInfo' | translate:{value1: maarch2maarchUrl}"></div>
      }
      <mat-form-field>
        <mat-label class="attachLabel">{{'lang.sender' | translate}}</mat-label>
        @if (!canManageMail()) {
          <input matInput [value]="currentSender.label" readonly>
        }
        @if (canManageMail()) {
          <mat-select [compareWith]="this.compareSenders" [(ngModel)]="currentSender"
            required>
            @for (sender of availableSenders | sortBy: 'label'; track sender) {
              <mat-option [value]="sender">
                {{sender.label}} ({{sender.m2m}})
              </mat-option>
            }
          </mat-select>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label class="attachLabel">{{'lang.recipient' | translate}} *</mat-label>
        <mat-chip-list id="recipients-list" #recipientsList>
          @for (recipient of recipients; track recipient) {
            <mat-chip class="recipients"
              [removable]="canManageMail()" (removed)="remove(recipient, 'recipients')"
              (click)="remove(recipient, 'recipients')">
              <span style="flex:1;">
                <div>
                  {{recipient.label}} - <b>{{recipient.m2m}}</b>
                </div>
                @if (!functions.empty(recipient.communicationMeans.url) || !functions.empty(recipient.communicationMeans.email)) {
                  <div class="attachLabel">
                    ({{'lang.communicationMean' | translate}} : {{getCommunicationMean(recipient.communicationMeans)}})
                  </div>
                }
              </span>
              @if (canManageMail()) {
                <mat-icon matChipRemove class="fa fa-times"></mat-icon>
              }
            </mat-chip>
          }
          <input #recipientsInput [formControl]="recipientsCtrl" [matChipInputFor]="recipientsList"
            [matAutocomplete]="autoEmails" (focus)="resetAutocomplete()" required>
        </mat-chip-list>
        <mat-autocomplete #autoEmails="matAutocomplete" (optionSelected)="addRecipient($event.option.value)">
          @for (option of filteredEmails | async; track option) {
            <mat-option [value]="option" class="m2mRecipientList">
              <div>
                {{option.label}} - <b>{{option.m2m}}</b>
              </div>
              @if (!functions.empty(option.communicationMeans.url) || !functions.empty(option.communicationMeans.email)) {
                <div class="attachLabel">
                  ({{'lang.communicationMean' | translate}} : {{getCommunicationMean(option.communicationMeans)}})
                </div>
              }
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label class="attachLabel">{{'lang.mailSubject' | translate}}</mat-label>
        <input matInput [readonly]="!canManageMail()" [(ngModel)]="numericPackage.object" maxlength="70" required>
        @for (keyVal of numericPackageAttachTool | keyvalue; track keyVal) {
          <button mat-icon-button matSuffix
            [disabled]="!canManageMail() || numericPackageAttachTool[keyVal.key].list.length === 0" [title]="numericPackageAttachTool[keyVal.key].title"
            (click)="$event.stopPropagation();numericPackageCurrentAttachTool=keyVal.key;"
            [matMenuTriggerFor]="emailAttachListMenu">
            <mat-icon class="{{numericPackageAttachTool[keyVal.key].icon}}"
              [class.activeButton]="isSelectedAttachType(keyVal.key)" style="color: #3A7C00">
            </mat-icon>
          </button>
        }
        <mat-menu #emailAttachListMenu="matMenu" [class]="'attachListMenu'">
          @for (keyVal of numericPackageAttachTool | keyvalue; track keyVal) {
            @if (keyVal.key === numericPackageCurrentAttachTool) {
              @for (attach of numericPackageAttachTool[keyVal.key].list; track attach) {
                <button mat-menu-item style="line-height: normal;" disableRipple
                  [disabled]="isSelectedAttach(attach,keyVal.key)"
                  (click)="$event.stopPropagation();toggleAttach(attach,keyVal.key);">
                  <span (click)="$event.stopPropagation();toggleAttach(attach,keyVal.key)"
                    [title]="attach.label">
                    <div style="font-size: 10px;opacity: 0.5;">{{attach.chrono}} - {{attach.typeLabel}}
                    ({{attach.creator}})</div>
                    {{attach.label | shorten: 45: '...'}} - {{attach.format}}
                  </span>
                </button>
              }
            }
          }
        </mat-menu>
      </mat-form-field>
      @if (!canManageMail()) {
        <mat-form-field>
          <mat-label class="attachLabel">{{'lang.reference' | translate}}</mat-label>
          <input matInput [value]="reference" readonly>
        </mat-form-field>
      }
      @if (numericPackage.mainExchangeDoc === null && numericPackageAttach.length === 0 && canManageMail()) {
        <div class="attachMsg"
          >
          {{'lang.attachItemToNumericPackage' | translate}}
          <i class="fas fa-arrow-up"></i>
        </div>
      }
      <div style="overflow: auto;max-height: 300px;">
        @if (numericPackage.mainExchangeDoc !== null) {
          <mat-list>
            <h3 mat-subheader class="attachLabel">{{canManageMail() ? ('lang.mainDocNumericPackageToSend' | translate) : ('lang.mainDocNumericPackage' | translate)}}</h3>
            @if (numericPackage.mainExchangeDoc !== null) {
              <mat-list-item class="numericPackageAttach">
                <p mat-line class="numericPackageAttachItem">
                  <span
                  style="overflow: hidden;text-overflow: ellipsis;">{{numericPackage.mainExchangeDoc.label}}</span>
                  <span class="badge">{{numericPackage.mainExchangeDoc.typeLabel}}</span>
                  <span class="subInfo">.{{numericPackage.mainExchangeDoc.format}}</span>
                  @if (canManageMail()) {
                    <button mat-icon-button style="color:#8e3e52" (click)="numericPackage.mainExchangeDoc=null">
                      <mat-icon class="fa fa-trash"></mat-icon>
                    </button>
                  }
                </p>
              </mat-list-item>
            }
          </mat-list>
        }
        @if (numericPackageAttach.length > 0) {
          <mat-divider></mat-divider>
        }
        @if (numericPackageAttach.length > 0) {
          <mat-list>
            <h3 mat-subheader class="attachLabel">{{canManageMail() ? ('lang.attachmentsNumericPackageToSend' | translate) : ('lang.attachmentsNumericPackage' | translate)}}</h3>
            @for (attach of numericPackageAttach; track attach; let i = $index) {
              <mat-list-item class="numericPackageAttach">
                <p mat-line class="numericPackageAttachItem">
                  <span style="overflow: hidden;text-overflow: ellipsis;"
                  [title]="attach.label">{{attach.label}}</span>
                  <span class="badge">{{attach.typeLabel}}</span>
                  <span class="subInfo">.{{attach.format}}</span>
                  @if (canManageMail()) {
                    <button mat-icon-button class="warn" (click)="removeAttach(i)">
                      <mat-icon class="fa fa-trash"></mat-icon>
                    </button>
                  }
                </p>
              </mat-list-item>
            }
          </mat-list>
        }
      </div>
      @if (canManageMail()) {
        <div class="models">
          @if (availableEmailModels.length > 0) {
            <app-plugin-select-search [label]="'lang.emailModel' | translate"
              [placeholderLabel]="'lang.emailModel' | translate" [datas]="availableEmailModels"
              [formControlSelect]="templateEmailListForm" (afterSelected)="mergeEmailTemplate($event)">
            </app-plugin-select-search>
          }
          @if (availableSignEmailModels.length > 0) {
            <app-plugin-select-search #templateList
              [label]="'lang.emailSignatures' | translate" [placeholderLabel]="'lang.emailSignatures' | translate"
              [datas]="availableSignEmailModels" [formControlSelect]="emailSignListForm" returnValue="object"
              (afterSelected)="mergeSignEmailTemplate($event)">
            </app-plugin-select-search>
          }
        </div>
      }
      <mat-divider></mat-divider>
      @if (!canManageMail()) {
        <div class="row" style="margin: 0;padding-top: 10px;">
          <div class="col-md-9">
            <label class="attachLabel">{{'lang.actionsHistory' | translate}}</label>
            <div class="messageExchangeHistory">
              @for (item of messageReview; track item) {
                <div class="messageExchangeHistoryItem">
                  <div class="messageExchangeHistoryDate">
                    {{item.date | timeAgo : 'full'}}
                  </div>
                  <div>
                    {{item.content}}
                  </div>
                </div>
              }
              @if (messageReview.length === 0) {
                <div class="noAction">{{'lang.noActionProcessed' | translate}}</div>
              }
            </div>
          </div>
          <div class="col-md-3 text-center">
            <button mat-button class="primary" style="width: 180px;white-space: initial;line-height: 20px;padding: 10px;" (click)="saveNumericPackageFile()">
              <i class="fas fa-file-download" style="font-size: 40px;"></i><br/>
              <span>{{'lang.downloadNumericPackage' | translate}}</span>
            </button>
          </div>
        </div>
      }

      <div style="padding-top: 10px;">
        <mat-form-field appearance="outline">
          <mat-label class="attachLabel">{{'lang.note' | translate}}</mat-label>
          <textarea matInput [placeholder]="'lang.addNoteToNumericPackage' | translate" [(ngModel)]="numericPackage.content"
          cdkTextareaAutosize style="padding:0" [readonly]="!canManageMail()"></textarea>
          <mat-hint class="warningNote">{{'lang.warningNote' | translate}}</mat-hint>
        </mat-form-field>
      </div>
    </mat-dialog-content>
    <span class="divider-modal"></span>
    <div mat-dialog-actions class="actions">
      @if (canManageMail() && canSendNumericPackage() && numericPackageStatus !== 'ERROR') {
        <button mat-raised-button class="primary"
          (click)="onSubmit()"
        [disabled]="recipients.length === 0 || numericPackage.mainExchangeDoc === null || loading">{{'lang.send' | translate}}</button>
      }
      @if (data.emailId && !loading && numericPackageStatus === 'ERROR') {
        <button mat-raised-button class="warn" (click)="deleteEmail()"
        [disabled]="headerService.user.id !== numericPackageCreatorId">{{'lang.delete' | translate}}</button>
      }
    </div>
  </div>