<div class="mat-dialog-content-container">
  <h1 mat-dialog-title>{{data.action.label}}</h1>
  <div mat-dialog-content>
    @if (loading) {
      <div class="loading" style="display:flex;height:100%;">
        <mat-spinner style="margin:auto;"></mat-spinner>
      </div>
    }
    <mat-sidenav-container autosize style="height:100%;">
      <mat-sidenav-content style="background: white;padding:10px;">
        <div>
          {{'lang.makeActionOn' | translate}}
          @if (data.resIds.length === 0) {
            <b class="primary highlight">{{'lang.currentIndexingMail' | translate}}</b>
          }
          @if (data.resIds.length === 1) {
            <b class="primary highlight">{{data.resource.chrono}}</b>
          }
          @if (data.resIds.length > 1) {
            <b class="primary highlight">{{data.resIds.length}}
            {{'lang.elements' | translate}}</b>
            } ?
          </div>
          @if (data.resIds.length === 1  && !noResourceToProcess) {
            <div class="alert-message alert-message-info"
              role="alert" style="margin-top: 30px;"
              [innerHTML]="'<b>' + ownerOpinion + '</b> '+ ('lang.askOpinionUser' | translate) + ' :<br/><br/>' + opinionContent">
            </div>
          }
          @if (data.resIds.length === 1 && appAvisWorkflow !== undefined && appAvisWorkflow.getNextAvisUser() !== '') {
            <div class="alert-message alert-message-info"
              role="alert" style="margin-top: 30px;"
              [innerHTML]="('lang.sendToDocTo' | translate) + ' <b>' + appAvisWorkflow.getNextAvisUser().labelToDisplay + '</b>'">
            </div>
          }

          @if (data.resIds.length === 1 && appAvisWorkflow !== undefined && appAvisWorkflow.getNextAvisUser() === '' && !noResourceToProcess) {
            <div class="alert-message alert-message-info"
            role="alert" style="margin-top: 30px;" [innerHTML]="'lang.endWorkflow' | translate"></div>
          }

          @if (resourcesErrors.length > 0) {
            <div class="alert-message alert-message-danger mailList"
              role="alert">
              <p>
                {{'lang.canNotMakeAction' | translate}} :
              </p>
              <ul>
                @for (ressource of resourcesErrors; track ressource) {
                  <li>
                    <b>{{ressource.alt_identifier}}</b> : {{'lang.' + ressource.reason | translate}}
                  </li>
                }
              </ul>
            </div>
          }
          @if (resourcesWarnings.length > 0) {
            <div class="alert-message alert-message-info mailList"
              role="alert">
              <ul style="margin: 0;padding-bottom: 0px;">
                @for (ressource of resourcesWarnings; track ressource) {
                  <li>
                    <b>{{ressource.alt_identifier}}</b> : {{'lang.' + ressource.reason | translate}}
                  </li>
                }
              </ul>
            </div>
          }
          @if (data.resIds.length === 1 && !noResourceToProcess) {
            <mat-form-field appearance="outline"
              style="cursor:pointer;margin-top: 10px;">
              <mat-label>{{'lang.opinionLimitDate' | translate}}</mat-label>
              <input matInput [(ngModel)]="opinionLimitDate" readonly style="cursor:pointer;" disabled>
            </mat-form-field>
          }

          <app-note-editor #noteEditor [title]="'lang.addOpinion' | translate" [resIds]="data.resIds"
          [disableRestriction]="true"></app-note-editor>
          @if (data.resIds.length === 1) {
            <app-avis-workflow [adminMode]="false" [resId]="data.resIds[0]"
              #appAvisWorkflow>
            </app-avis-workflow>
          }
          @if (showToggle) {
            <div class="row" style="margin: 10px 0px 10px 0px;">
              <mat-slide-toggle name="history" class="primary" style="margin-bottom: 15px;"
                [title]="'lang.canGoToNextResDesc' | translate" [(ngModel)]="canGoToNextRes" [checked]="canGoToNextRes">
                {{'lang.canGoToNextRes' | translate}}
              </mat-slide-toggle>
              <mat-divider></mat-divider>
            </div>
          }
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
    <span class="divider-modal"></span>
    <div mat-dialog-actions class="actions">
      <button mat-raised-button mat-button class="primary" [disabled]="loading || !isValidAction()"
      (click)="onSubmit()">{{'lang.validate' | translate}}</button>
      <button mat-raised-button mat-button [disabled]="loading" [mat-dialog-close]="">{{'lang.cancel' | translate}}</button>
    </div>
  </div>