.title {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.subject {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subSubject {
    color: var(--maarch-color-secondary);
    align-self: center;
}

.resource-info {
    margin-bottom: 22px;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        max-height: 300px;
        overflow: hidden;
        margin-top: 5px;
        gap: 25px;

        &-item-value {
            font-weight: bold;
            color: var(--maarch-color-primary);
        }
    }

}

.banner-opened {
    border: 1px solid #9f9f9fad;
    width: 100%;

    .title-divider {
        width: 100%;
        top: 29px;
        background-color: white;
    }

    .content-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        align-items: flex-start;
        padding-top: 8px;
        padding-right: 50px;
        gap: 5px;
    }
}

.banner-closed , .banner-opened {
    margin: 20px 19px 12px 0 !important;
    background-color: white;
    transition: all 0.4s;
    .title {
        color: var(--maarch-color-primary);
        letter-spacing: 0;
        top: -30px;
        left: -5px;
    }
}

.mat-icon-square {
    font-size: 23px;
    left: 8px;
}
