<div class="signature-container">
  @for (signature of signatures; track signature; let i = $index) {
    <div class="signature-content" style="display: flex;flex-direction: column;">
      <mat-form-field floatLabel="never">
        @if (signature.public && mode === 'private') {
          <mat-icon matPrefix class="fa fa-users"  style="width: auto;font-size: 12px;height: auto;padding: 5px; color:#C25712" [title]="'lang.public' | translate"></mat-icon>
        }
        <mat-label>{{'lang.label' | translate }}</mat-label>
        <input matInput [(ngModel)]="signature.label" [disabled]="!signature.editMode">
      </mat-form-field>
      @if (!signature.editMode) {
        <div [innerHTML]="signature.content | safeHtml" style="border: solid 1px rgba(0, 0, 0, 0.12);flex:1;overflow: auto;"></div>
      }
      @if (signature.editMode) {
        <textarea [id]="'emailSignature'+ signature.id" style="width:100%;visibility: hidden;flex:1;" [(ngModel)]="signature.content"></textarea>
      }
      <div style="text-align: center;">
        @if (!signature.editMode) {
          <button [disabled]="signature.public && mode === 'private'" mat-raised-button mat-button class="primary" (click)="editSignature(i)">{{'lang.update' | translate}}</button>
        }
        @if (!signature.editMode) {
          <button [disabled]="signature.public && mode === 'private'" mat-raised-button mat-button class="warn" (click)="deleteSignature(i)">{{'lang.delete' | translate}}</button>
        }
        @if (signature.editMode) {
          <button mat-raised-button mat-button class="primary" (click)="saveSignature(i)">{{'lang.validate' | translate}}</button>
        }
        @if (signature.editMode) {
          <button mat-raised-button mat-button (click)="closeEditSignature(i)">{{'lang.cancel' | translate}}</button>
        }
      </div>
    </div>
  }
  @if (addMode) {
    <div class="add-signature-content">
      <mat-form-field>
        <mat-label>{{'lang.label' | translate }} *</mat-label>
        <input matInput [(ngModel)]="newSignature.label">
      </mat-form-field>
      <textarea id="emailSignature" style="width:100%;visibility: hidden;flex:1;" [(ngModel)]="newSignature.content"></textarea>
      <div>
        <button mat-raised-button mat-button class="primary" (click)="createSignature()" [disabled]="newSignature.label === ''">{{'lang.validate' | translate}}</button>
        <button mat-raised-button mat-button (click)="switchMode()">{{'lang.cancel' | translate}}</button>
      </div>
    </div>
  }
  @if (!addMode) {
    <div class="signature-content add-signature-area" [title]="'lang.add' | translate" (click)="switchMode()">
      <mat-icon class="fa fa-plus"></mat-icon>
    </div>
  }
</div>